$color-yellow: #e8db37;
$color-white: #ffffff;
$color-light: #f3f3f1;
$color-gray: #d6d4c3;
$color-dkgray: #696969;
$color-dark: #131313;

// project colors
$color-fremont: #2763A8;
$color-takethestage: #342790;
$color-ustrust: #5E5E5D;
$color-normanregional: #702a82;

$site-width: 1380px;

$header-font-face: "Beautiful Bloom",cursive;
$header-font-size: 123px;
$header-color: $color-dark;
$header-bg: $color-white;

$body-font-face: "Work Sans", Helvetica, Arial, sans-serif;
$body-font-size: 14px;
$body-color: $color-dark;
$body-bg: $color-white;

$font-size-sm: 0.75em;
$font-size-lg: 1.5em;

$links-font-face: $body-font-face;
$links-font-size: $body-font-size;
$links-color: $body-color;
$links-hover-color: $color-dkgray;
$links-weight: bold;

// margin top values (in pixels)
$mt-list: 5 10 15 20 30 50 60 70 80 90 100 200;

// margin bottom values (in pixels)
$mb-list: 5 10 15 20 30 50 60 70 80 90 100 200;

// padding top values (in pixels)
$pt-list: 5 10 15 20 30 50 60 70 80 90 100 200;

// padding bottom values (in pixels)
$pb-list: 5 10 15 20 30 50 60 70 80 90 100 200;