@font-face {
  font-family: 'Beautiful Bloom';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/BeautifulBloom-Regular.eot');
  src: url('../fonts/BeautifulBloom-Regular.eot?#iefix') format('embedded-opentype'),
  	url('../fonts/BeautifulBloom-Regular.woff') format('woff'),
  	url('../fonts/BeautifulBloom-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Beautiful Bloom Alt';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/BeautifulBloom-Alt.eot');
  src: url('../fonts/BeautifulBloom-Alt.eot?#iefix') format('embedded-opentype'),
  	url('../fonts/BeautifulBloom-Alt.woff') format('woff'),
  	url('../fonts/BeautifulBloom-Alt.ttf') format('truetype');
}