body[data-page="project"] {
	&.fremont {
		.ampersand {
			color: $color-fremont;
		}

		.hero-content {
			background: #2763a8;
		    background: -moz-linear-gradient(-45deg, #2763a8 0%, #aebbb0 100%);
		    background: -webkit-linear-gradient(-45deg, #2763a8 0%,#aebbb0 100%);
		    background: linear-gradient(165deg, #2763a8 0%,#aebbb0 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#2763a8', endColorstr='#aebbb0',GradientType=1 );
		}
		
		nav {
			.nav-wrap {
				.nav-item {
					a {
						&.fancy-underline {
							&:after {
								background: set-color($color-fremont);
							}

							&.active {
								background: set-color($color-fremont);
							}
						}
					}
				}
			}
		}

		h1 {
			&:after {
				border-bottom: 3px solid set-color($color-fremont);
			}
		}

		h2 {
			color: $color-fremont;
		}

		.ca-icon-wrap {
			span {
				color: $color-fremont;
			}
		}

		.outside-link {
			color: $color-fremont;

			svg {
				path {
					fill: $color-fremont;
				}
			}
		}

		.section-title {
			color: $color-fremont;
		}

		.emphasize-bg {
			background: $color-fremont;
			color: $color-white;
		}

		.button {
			background: $color-fremont;
			color: $color-white;
		}

		.project-card .project-overview .project-header .type {
			color: $color-fremont;
		}

		.project-wide {
			background: set-color($color-fremont);
			color: $color-white;
		}

		.project-content {
			background: rgba(39,99,168,.9);

			h3 {
				color: set-color($color-fremont);
			}

			.project-background-color {
				background: set-color($color-fremont);
				color: $color-white;

				h3 {
					color: $color-white;
				}
			}
		}

		.project-nav-wrap {
			.project-nav {
				&.active {
					.project-nav-indicator {
						background: set-color($color-fremont);
					}
				}
			}
		}
		
		.svg-icon {
			&.with-circle-bg {
				background: $color-fremont;
			}
		}

		.sitemap-wrap {
			text-align: right;

			.sitemap {
				width: 90%;
			}
		}

		.pill {
			&.selected {
				background: set-color($color-fremont);
			}
		}
	}

	&.takethestage {
		.ampersand {
			color: $color-takethestage;
		}
		
		nav {
			.nav-wrap {
				.nav-item {
					a {
						&.fancy-underline {
							&:after {
								background: set-color($color-takethestage);
							}

							&.active {
								background: set-color($color-takethestage);
							}
						}
					}
				}
			}
		}

		h1 {
			&:after {
				border-bottom: 3px solid set-color($color-takethestage);
			}
		}

		h2 {
			color: $color-takethestage;
		}

		.ca-icon-wrap {
			span {
				color: $color-takethestage;
			}
		}

		.outside-link {
			color: $color-takethestage;

			svg {
				path {
					fill: $color-takethestage;
				}
			}
		}

		.section-title {
			color: $color-takethestage;
		}

		.emphasize-bg {
			background: $color-takethestage;
			color: $color-white;
		}

		.button {
			background: $color-takethestage;
			color: $color-white;
		}

		.project-card .project-overview .project-header .type {
			color: $color-takethestage;
		}

		.project-wide {
			background: set-color($color-takethestage);
			color: $color-white;
		}

		.project-content {
			background: rgba(39,99,168,.9);

			h3 {
				color: set-color($color-takethestage);
			}

			.project-background-color {
				background: set-color($color-takethestage);
				color: $color-white;

				h3 {
					color: $color-white;
				}
			}
		}

		.project-nav-wrap {
			.project-nav {
				&.active {
					.project-nav-indicator {
						background: set-color($color-takethestage);
					}
				}
			}
		}
		
		.svg-icon {
			&.with-circle-bg {
				background: $color-takethestage;
			}
		}

		.sitemap-wrap {
			text-align: right;

			.sitemap {
				width: 90%;
			}
		}

		.pill {
			&.selected {
				background: set-color($color-takethestage);
			}
		}
	}

	&.partycity {
		.ampersand {
			color: $color-partycity;
		}

		.hero-content {
			background: #2763a8;
		    background: -moz-linear-gradient(-45deg, #2763a8 0%, #aebbb0 100%);
		    background: -webkit-linear-gradient(-45deg, #2763a8 0%,#aebbb0 100%);
		    background: linear-gradient(165deg, #2763a8 0%,#aebbb0 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#2763a8', endColorstr='#aebbb0',GradientType=1 );
		}
		
		nav {
			.nav-wrap {
				.nav-item {
					a {
						&.fancy-underline {
							&:after {
								background: set-color($color-partycity);
							}

							&.active {
								background: set-color($color-partycity);
							}
						}
					}
				}
			}
		}

		h1 {
			&:after {
				border-bottom: 3px solid set-color($color-partycity);
			}
		}

		h2 {
			color: $color-partycity;
		}

		.ca-icon-wrap {
			span {
				color: $color-partycity;
			}
		}

		.outside-link {
			color: $color-partycity;

			svg {
				path {
					fill: $color-partycity;
				}
			}
		}

		.section-title {
			color: $color-partycity;
		}

		.emphasize-bg {
			background: $color-partycity;
			color: $color-white;
		}

		.button {
			background: $color-partycity;
			color: $color-white;
		}

		.project-card .project-overview .project-header .type {
			color: $color-partycity;
		}

		.project-wide {
			background: set-color($color-partycity);
			color: $color-white;
		}

		.project-content {
			background: rgba(39,99,168,.9);

			h3 {
				color: set-color($color-partycity);
			}

			.project-background-color {
				background: set-color($color-partycity);
				color: $color-white;

				h3 {
					color: $color-white;
				}
			}
		}

		.project-nav-wrap {
			.project-nav {
				&.active {
					.project-nav-indicator {
						background: set-color($color-partycity);
					}
				}
			}
		}
		
		.svg-icon {
			&.with-circle-bg {
				background: $color-partycity;
			}
		}

		.sitemap-wrap {
			text-align: right;

			.sitemap {
				width: 90%;
			}
		}

		.pill {
			&.selected {
				background: set-color($color-partycity);
			}
		}
	}

	&.minuteclinic {
		.ampersand {
			color: $color-minuteclinic;
		}

		.hero-content {
			background: #2763a8;
		    background: -moz-linear-gradient(-45deg, #2763a8 0%, #aebbb0 100%);
		    background: -webkit-linear-gradient(-45deg, #2763a8 0%,#aebbb0 100%);
		    background: linear-gradient(165deg, #2763a8 0%,#aebbb0 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#2763a8', endColorstr='#aebbb0',GradientType=1 );
		}
		
		nav {
			.nav-wrap {
				.nav-item {
					a {
						&.fancy-underline {
							&:after {
								background: set-color($color-minuteclinic);
							}

							&.active {
								background: set-color($color-minuteclinic);
							}
						}
					}
				}
			}
		}

		h1 {
			&:after {
				border-bottom: 3px solid set-color($color-minuteclinic);
			}
		}

		h2 {
			color: $color-minuteclinic;
		}

		.ca-icon-wrap {
			span {
				color: $color-minuteclinic;
			}
		}

		.outside-link {
			color: $color-minuteclinic;

			svg {
				path {
					fill: $color-minuteclinic;
				}
			}
		}

		.section-title {
			color: $color-minuteclinic;
		}

		.emphasize-bg {
			background: $color-minuteclinic;
			color: $color-white;
		}

		.button {
			background: $color-minuteclinic;
			color: $color-white;
		}

		.project-card .project-overview .project-header .type {
			color: $color-minuteclinic;
		}

		.project-wide {
			background: set-color($color-minuteclinic);
			color: $color-white;
		}

		.project-content {
			background: rgba(39,99,168,.9);

			h3 {
				color: set-color($color-minuteclinic);
			}

			.project-background-color {
				background: set-color($color-minuteclinic);
				color: $color-white;

				h3 {
					color: $color-white;
				}
			}
		}

		.project-nav-wrap {
			.project-nav {
				&.active {
					.project-nav-indicator {
						background: set-color($color-minuteclinic);
					}
				}
			}
		}
		
		.svg-icon {
			&.with-circle-bg {
				background: $color-minuteclinic;
			}
		}

		.sitemap-wrap {
			text-align: right;

			.sitemap {
				width: 90%;
			}
		}

		.pill {
			&.selected {
				background: set-color($color-minuteclinic);
			}
		}
	}

	&.bankofamerica {
		.ampersand {
			color: $color-bankofamerica;
		}

		.hero-content {
			background: #2763a8;
		    background: -moz-linear-gradient(-45deg, #2763a8 0%, #aebbb0 100%);
		    background: -webkit-linear-gradient(-45deg, #2763a8 0%,#aebbb0 100%);
		    background: linear-gradient(165deg, #2763a8 0%,#aebbb0 100%);
		    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#2763a8', endColorstr='#aebbb0',GradientType=1 );
		}
		
		nav {
			.nav-wrap {
				.nav-item {
					a {
						&.fancy-underline {
							&:after {
								background: set-color($color-bankofamerica);
							}

							&.active {
								background: set-color($color-bankofamerica);
							}
						}
					}
				}
			}
		}

		h1 {
			&:after {
				border-bottom: 3px solid set-color($color-bankofamerica);
			}
		}

		h2 {
			color: $color-bankofamerica;
		}

		.ca-icon-wrap {
			span {
				color: $color-bankofamerica;
			}
		}

		.outside-link {
			color: $color-bankofamerica;

			svg {
				path {
					fill: $color-bankofamerica;
				}
			}
		}

		.section-title {
			color: $color-bankofamerica;
		}

		.emphasize-bg {
			background: $color-bankofamerica;
			color: $color-white;
		}

		.button {
			background: $color-bankofamerica;
			color: $color-white;
		}

		.project-card .project-overview .project-header .type {
			color: $color-bankofamerica;
		}

		.project-wide {
			background: set-color($color-bankofamerica);
			color: $color-white;
		}

		.project-content {
			background: rgba(39,99,168,.9);

			h3 {
				color: set-color($color-bankofamerica);
			}

			.project-background-color {
				background: set-color($color-bankofamerica);
				color: $color-white;

				h3 {
					color: $color-white;
				}
			}
		}

		.project-nav-wrap {
			.project-nav {
				&.active {
					.project-nav-indicator {
						background: set-color($color-bankofamerica);
					}
				}
			}
		}
		
		.svg-icon {
			&.with-circle-bg {
				background: $color-bankofamerica;
			}
		}

		.sitemap-wrap {
			text-align: right;

			.sitemap {
				width: 90%;
			}
		}

		.pill {
			&.selected {
				background: set-color($color-bankofamerica);
			}
		}
	}
}