@font-face {
  font-family: 'Beautiful Bloom';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BeautifulBloom-Regular.eot");
  src: url("../fonts/BeautifulBloom-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BeautifulBloom-Regular.woff") format("woff"), url("../fonts/BeautifulBloom-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Beautiful Bloom Alt';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BeautifulBloom-Alt.eot");
  src: url("../fonts/BeautifulBloom-Alt.eot?#iefix") format("embedded-opentype"), url("../fonts/BeautifulBloom-Alt.woff") format("woff"), url("../fonts/BeautifulBloom-Alt.ttf") format("truetype");
}
/* line 1, _helpers.scss */
.no-margin {
  margin: 0px !important;
}

/* line 57, _helpers.scss */
.content-wrap {
  display: flex;
  justify-content: flex-start;
  width: 1380px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* line 138, _helpers.scss */
.mt-5 {
  margin-top: 5px !important;
}

/* line 138, _helpers.scss */
.mt-10 {
  margin-top: 10px !important;
}

/* line 138, _helpers.scss */
.mt-12 {
  margin-top: 12px !important;
}

/* line 138, _helpers.scss */
.mt-15 {
  margin-top: 15px !important;
}

/* line 138, _helpers.scss */
.mt-20 {
  margin-top: 20px !important;
}

/* line 138, _helpers.scss */
.mt-30 {
  margin-top: 30px !important;
}

/* line 138, _helpers.scss */
.mt-50 {
  margin-top: 50px !important;
}

/* line 138, _helpers.scss */
.mt-60 {
  margin-top: 60px !important;
}

/* line 138, _helpers.scss */
.mt-70 {
  margin-top: 70px !important;
}

/* line 138, _helpers.scss */
.mt-80 {
  margin-top: 80px !important;
}

/* line 138, _helpers.scss */
.mt-90 {
  margin-top: 90px !important;
}

/* line 138, _helpers.scss */
.mt-100 {
  margin-top: 100px !important;
}

/* line 138, _helpers.scss */
.mt-200 {
  margin-top: 200px !important;
}

/* line 147, _helpers.scss */
.mb-5 {
  margin-bottom: 5px !important;
}

/* line 147, _helpers.scss */
.mb-10 {
  margin-bottom: 10px !important;
}

/* line 147, _helpers.scss */
.mb-12 {
  margin-bottom: 12px !important;
}

/* line 147, _helpers.scss */
.mb-15 {
  margin-bottom: 15px !important;
}

/* line 147, _helpers.scss */
.mb-20 {
  margin-bottom: 20px !important;
}

/* line 147, _helpers.scss */
.mb-30 {
  margin-bottom: 30px !important;
}

/* line 147, _helpers.scss */
.mb-50 {
  margin-bottom: 50px !important;
}

/* line 147, _helpers.scss */
.mb-60 {
  margin-bottom: 60px !important;
}

/* line 147, _helpers.scss */
.mb-70 {
  margin-bottom: 70px !important;
}

/* line 147, _helpers.scss */
.mb-80 {
  margin-bottom: 80px !important;
}

/* line 147, _helpers.scss */
.mb-90 {
  margin-bottom: 90px !important;
}

/* line 147, _helpers.scss */
.mb-100 {
  margin-bottom: 100px !important;
}

/* line 147, _helpers.scss */
.mb-200 {
  margin-bottom: 200px !important;
}

/* line 156, _helpers.scss */
.pt-5 {
  padding-top: 5px !important;
}

/* line 156, _helpers.scss */
.pt-10 {
  padding-top: 10px !important;
}

/* line 156, _helpers.scss */
.pt-15 {
  padding-top: 15px !important;
}

/* line 156, _helpers.scss */
.pt-20 {
  padding-top: 20px !important;
}

/* line 156, _helpers.scss */
.pt-30 {
  padding-top: 30px !important;
}

/* line 156, _helpers.scss */
.pt-50 {
  padding-top: 50px !important;
}

/* line 156, _helpers.scss */
.pt-60 {
  padding-top: 60px !important;
}

/* line 156, _helpers.scss */
.pt-70 {
  padding-top: 70px !important;
}

/* line 156, _helpers.scss */
.pt-80 {
  padding-top: 80px !important;
}

/* line 156, _helpers.scss */
.pt-90 {
  padding-top: 90px !important;
}

/* line 156, _helpers.scss */
.pt-100 {
  padding-top: 100px !important;
}

/* line 156, _helpers.scss */
.pt-200 {
  padding-top: 200px !important;
}

/* line 165, _helpers.scss */
.pb-5 {
  padding-bottom: 5px !important;
}

/* line 165, _helpers.scss */
.pb-10 {
  padding-bottom: 10px !important;
}

/* line 165, _helpers.scss */
.pb-15 {
  padding-bottom: 15px !important;
}

/* line 165, _helpers.scss */
.pb-20 {
  padding-bottom: 20px !important;
}

/* line 165, _helpers.scss */
.pb-30 {
  padding-bottom: 30px !important;
}

/* line 165, _helpers.scss */
.pb-50 {
  padding-bottom: 50px !important;
}

/* line 165, _helpers.scss */
.pb-60 {
  padding-bottom: 60px !important;
}

/* line 165, _helpers.scss */
.pb-70 {
  padding-bottom: 70px !important;
}

/* line 165, _helpers.scss */
.pb-80 {
  padding-bottom: 80px !important;
}

/* line 165, _helpers.scss */
.pb-90 {
  padding-bottom: 90px !important;
}

/* line 165, _helpers.scss */
.pb-100 {
  padding-bottom: 100px !important;
}

/* line 165, _helpers.scss */
.pb-200 {
  padding-bottom: 200px !important;
}

/* line 7, core.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 12, core.scss */
html, body {
  height: 100%;
}

/* line 16, core.scss */
body {
  background: #ffffff;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  overflow-x: hidden;
}

/* line 25, core.scss */
h2 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  font-weight: bold;
  line-height: 32px;
  color: #264653;
}
/* line 32, core.scss */
h2:after {
  content: '';
  display: block;
  width: 53px;
  border-bottom: 3px solid #CB997E;
  padding-top: 20px;
  margin-bottom: 32px;
}

/* line 42, core.scss */
h3 {
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.4px;
  margin-bottom: 7px;
  color: #CB997E;
}

/* line 51, core.scss */
hr {
  border-width: 0.5px;
  border-color: #f3f3f1;
  border-style: solid;
  margin: 24px 0;
}

/* line 59, core.scss */
ol li {
  line-height: 21px;
}

/* line 64, core.scss */
a {
  text-decoration: none;
  color: #333333;
  font-weight: normal;
  transition: 0.3s;
}
/* line 70, core.scss */
a:hover {
  color: #696969;
}
/* line 74, core.scss */
a.active {
  cursor: default;
}
/* line 77, core.scss */
a.active:hover {
  color: #333333;
}
/* line 82, core.scss */
a.underline {
  text-decoration: underline;
}

/* line 88, core.scss */
.outside-link {
  color: #CB997E;
}
/* line 91, core.scss */
.outside-link svg {
  vertical-align: text-bottom;
}
/* line 94, core.scss */
.outside-link svg path {
  fill: #CB997E;
}

/* line 100, core.scss */
ul {
  list-style: none;
}

/* line 104, core.scss */
ol {
  margin-left: 20px;
}

/* line 108, core.scss */
.list-spacing {
  line-height: 32px;
}

/* line 113, core.scss */
.list-icons li {
  display: flex;
}
/* line 117, core.scss */
.list-icons svg {
  width: 12px;
  height: 12px;
  margin-top: 4px;
}
/* line 123, core.scss */
.list-icons span {
  width: calc(100% - 20px);
  padding-left: 10px;
}

/* line 130, core.scss */
.overlay.active {
  background: rgba(51, 51, 51, 0.8);
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 142, core.scss */
.mobile-only {
  display: none;
}

/* line 146, core.scss */
.is-hidden {
  display: none !important;
}

/* line 150, core.scss */
.sm-text {
  font-family: Open Sans, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

/* line 157, core.scss */
.lg-text {
  line-height: 26px;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}

/* line 164, core.scss */
.emphasize {
  font-style: italic;
}

/* line 168, core.scss */
.emphasize-bg {
  background: #264653;
  color: #ffffff;
  padding: 20px 20px 30px 20px;
  margin: 30px 0;
}
/* line 174, core.scss */
.emphasize-bg .section-header {
  color: #ffffff;
  margin: 0 0 24px 0;
}
/* line 179, core.scss */
.emphasize-bg blockquote {
  line-height: 21px;
}

/* line 184, core.scss */
.button {
  height: 40px;
  line-height: 40px;
  background: #CB997E;
  color: #ffffff;
  font-family: Open Sans, Helvetica, sans-serif;
  padding: 0 20px;
  font-weight: bold;
  font-size: 14px;
  border-radius: 30px;
  display: inline-block;
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
}
/* line 199, core.scss */
.button:hover {
  color: #ffffff;
}

/* line 204, core.scss */
.project-button {
  text-align: center;
}

/* line 208, core.scss */
.left {
  text-align: left;
}

/* line 212, core.scss */
.center {
  text-align: center;
}

/* line 216, core.scss */
.right {
  text-align: right;
}

/* line 224, core.scss */
.hamburger-menu {
  display: none;
}

/* line 228, core.scss */
.header-wrap {
  background: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 100;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
}
/* line 237, core.scss */
.header-wrap header {
  padding: 12px 0 24px 0;
}

/* line 243, core.scss */
.logo-wrap {
  width: 332px;
  padding-top: 24px;
}
/* line 247, core.scss */
.logo-wrap .logo {
  text-align: left;
  color: #264653;
  font-family: "Playfair Display", serif;
  font-size: 32px;
  text-decoration: none;
}
/* line 255, core.scss */
.logo-wrap .header-tag {
  margin-top: 16px;
  text-align: left;
  text-transform: uppercase;
  font-size: 12px;
  left: -3px;
  position: relative;
  color: #696969;
}

/* line 266, core.scss */
.ampersand {
  font-family: "Playfair Display", serif;
  font-size: 20px;
  vertical-align: sub;
  color: #CB997E;
  font-weight: bold;
}

/* line 274, core.scss */
.section-header {
  display: flex;
  justify-content: space-between;
}
/* line 278, core.scss */
.section-header a {
  line-height: 20px;
  color: #CB997E;
  text-decoration: underline;
  font-weight: normal;
}

/* line 287, core.scss */
nav {
  height: 52px;
  line-height: 52px;
}

/* line 292, core.scss */
.nav-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  margin: 48px 0 0 0;
  padding: 0;
}
/* line 299, core.scss */
.nav-wrap .nav-item {
  margin: 0 48px 0 0;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
}
/* line 307, core.scss */
.nav-wrap .nav-item a {
  color: #CB997E;
  font-weight: bold;
}
/* line 312, core.scss */
.nav-wrap .nav-item a.fancy-underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
/* line 317, core.scss */
.nav-wrap .nav-item a.fancy-underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #CB997E;
  height: 3px;
  transition: width 0.3s ease-out;
}
/* line 329, core.scss */
.nav-wrap .nav-item a.fancy-underline:hover:after, .nav-wrap .nav-item a.fancy-underline:focus:after, .nav-wrap .nav-item a.fancy-underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
/* line 335, core.scss */
.nav-wrap .nav-item a.fancy-underline.active {
  color: #696969;
}
/* line 338, core.scss */
.nav-wrap .nav-item a.fancy-underline.active:after {
  content: '';
  transition: none;
  width: 100%;
  height: 3px;
  background: #CB997E;
}
/* line 346, core.scss */
.nav-wrap .nav-item a.fancy-underline.active:hover {
  color: #696969;
}

/* line 355, core.scss */
.hamburger-menu {
  line-height: 80px;
  position: absolute;
  right: 10px;
}

/* line 366, core.scss */
.intro {
  padding: 142px;
}
/* line 370, core.scss */
.intro .headline {
  font-family: "Playfair Display", serif;
  font-size: 48px;
  color: #264653;
  margin-bottom: 12px;
}
/* line 376, core.scss */
.intro .headline a {
  color: #264653;
}
/* line 381, core.scss */
.intro .subhead {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  color: #727274;
}
/* line 386, core.scss */
.intro .subhead a {
  color: #727274;
}

/* line 392, core.scss */
.featured-projects {
  background: #f3f3f1;
  padding: 200px 0 100px 0;
}

/* line 397, core.scss */
.new-projects-wrap {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

/* line 404, core.scss */
.project-card {
  width: calc(33% - 24px);
  margin-right: 24px;
  min-height: 132px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 10px 20px 0 rgba(57, 58, 61, 0.15);
  transition: all 0.5s;
  position: relative;
  top: 0px;
}
/* line 415, core.scss */
.project-card.linked:hover {
  box-shadow: 0 10px 20px 0 rgba(57, 58, 61, 0.4);
  top: -12px;
}
/* line 420, core.scss */
.project-card img {
  width: 100%;
  border-radius: 8px 8px 0 0;
}
/* line 425, core.scss */
.project-card .project-details {
  padding: 24px;
}
/* line 428, core.scss */
.project-card .project-details .project-header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* line 433, core.scss */
.project-card .project-details .project-header h3 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  color: #264653;
  text-transform: none;
}
/* line 440, core.scss */
.project-card .project-details .project-header .type {
  text-transform: uppercase;
  color: #CB997E;
  font-size: 12px;
  font-weight: 600;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  line-height: 25px;
  min-width: 100px;
  text-align: right;
  letter-spacing: 0.4px;
}
/* line 453, core.scss */
.project-card .project-details .role {
  font-weight: normal;
  margin-top: 12px;
}
/* line 457, core.scss */
.project-card .project-details .role span {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-weight: 600;
  letter-spacing: 0.4px;
  margin-bottom: 4px;
}
/* line 468, core.scss */
.project-card .project-details .desc {
  margin-top: 12px;
}
/* line 472, core.scss */
.project-card .project-details a {
  display: block;
  margin-top: 12px;
}

/* line 481, core.scss */
.process-content {
  margin: 60px 0 100px 0;
}

/* line 485, core.scss */
.new-process-wrap {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: stretch;
}

/* line 492, core.scss */
.process-card {
  width: calc(50% - 24px);
  border-radius: 8px;
  min-height: 192px;
  background: #fff;
  box-shadow: 0 10px 20px 0 rgba(57, 58, 61, 0.15);
  margin-bottom: 48px;
}
/* line 500, core.scss */
.process-card .process-details {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
/* line 505, core.scss */
.process-card .process-details .process-header {
  background: #CB997E;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  width: 45%;
  height: 100%;
  vertical-align: middle;
  border-radius: 8px 0 0 8px;
  line-height: 192px;
  margin-bottom: 0px;
}
/* line 519, core.scss */
.process-card .process-details .services-inner-wrap {
  width: calc(55% - 24px);
  padding: 24px 0;
}
/* line 523, core.scss */
.process-card .process-details .services-inner-wrap .services-inner-item {
  line-height: 24px;
}
/* line 526, core.scss */
.process-card .process-details .services-inner-wrap .services-inner-item span {
  font-style: italic;
  margin-top: 7px;
}
/* line 531, core.scss */
.process-card .process-details .services-inner-wrap .services-inner-item .services-sub-list {
  padding: 0 0 0 12px;
}

/* line 544, core.scss */
.about-card {
  width: 100%;
  border-radius: 8px;
  background: #ffffff;
  box-shadow: 0 10px 20px 0 rgba(57, 58, 61, 0.15);
}
/* line 551, core.scss */
.about-card .about-details {
  display: flex;
  justify-content: space-between;
}
/* line 555, core.scss */
.about-card .about-details .about-image {
  width: 45%;
}
/* line 558, core.scss */
.about-card .about-details .about-image img {
  width: 100%;
  height: 100%;
  border-radius: 8px 0 0 8px;
}
/* line 565, core.scss */
.about-card .about-details .about-desc {
  padding: 24px;
  width: 55%;
}
/* line 569, core.scss */
.about-card .about-details .about-desc h3 {
  margin-top: 24px;
}

/* line 576, core.scss */
.breadcrumb-content {
  padding-top: 20px;
}

/* line 580, core.scss */
.projects-content {
  margin: 60px 0 100px 0;
}

/* line 589, core.scss */
.all-projects-wrap {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}
/* line 594, core.scss */
.all-projects-wrap .project-card {
  margin-bottom: 48px;
}

/* line 599, core.scss */
.for-fun-content {
  padding-bottom: 100px;
}

/* line 603, core.scss */
.thanks-content {
  padding: 60px 0 100px 0;
}

/* line 607, core.scss */
h1 {
  font-family: "Playfair Display", serif;
  color: #264653;
  font-size: 32px;
  font-weight: bold;
  line-height: 32px;
  margin: 0;
}
/* line 615, core.scss */
h1:after {
  content: '';
  display: block;
  width: 53px;
  border-bottom: 3px solid #CB997E;
  padding-top: 20px;
  margin-bottom: 32px;
}

/* line 627, core.scss */
body[data-page="project"] .header-wrap {
  position: relative;
}
/* line 631, core.scss */
body[data-page="project"] .all-projects-container {
  padding: 0 0 100px 0;
}
/* line 635, core.scss */
body[data-page="project"] h2 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  margin-bottom: 48px;
  text-align: left;
}
/* line 641, core.scss */
body[data-page="project"] h2:after {
  content: '';
  display: none;
  width: 0px;
  border-bottom: 0px;
  padding-top: 0px;
  margin-bottom: 0px;
}
/* line 651, core.scss */
body[data-page="project"] h3 {
  margin: 32px 0 24px 0;
}
/* line 655, core.scss */
body[data-page="project"] h4 {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 24px 0 12px 0;
  letter-spacing: 0.4px;
}
/* line 666, core.scss */
body[data-page="project"] .project-wide h2 {
  color: #ffffff;
  text-align: center;
}
/* line 672, core.scss */
body[data-page="project"] .project-nav {
  position: sticky;
  top: 0px;
  padding-top: 12px;
}
/* line 677, core.scss */
body[data-page="project"] .project-nav .project-nav-link {
  text-decoration: underline;
  line-height: 32px;
}
/* line 681, core.scss */
body[data-page="project"] .project-nav .project-nav-link.active {
  font-weight: bold;
}
/* line 687, core.scss */
body[data-page="project"] .button {
  text-align: center;
  margin: 0 auto;
  max-width: 270px;
  display: block;
}
/* line 694, core.scss */
body[data-page="project"] .flow-flex {
  display: flex;
}
/* line 697, core.scss */
body[data-page="project"] .flow-flex a {
  width: 45%;
}
/* line 701, core.scss */
body[data-page="project"] .flow-flex p {
  width: 55%;
  margin-left: 24px;
}
/* line 708, core.scss */
body[data-page="project"] .flex-overview {
  display: flex;
  justify-content: flex-start;
}
/* line 712, core.scss */
body[data-page="project"] .flex-overview p {
  width: calc(50% - 24px);
}
/* line 717, core.scss */
body[data-page="project"] .prototype-link {
  margin: 32px 0 24px 0;
}
/* line 721, core.scss */
body[data-page="project"] .user-stories-container {
  padding: 40px 0 60px 0;
}
/* line 724, core.scss */
body[data-page="project"] .user-stories-container .user-story {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 48px;
}
/* line 729, core.scss */
body[data-page="project"] .user-stories-container .user-story h3 {
  margin: 0 0 24px 0;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 0.4px;
  color: #CB997E;
}
/* line 739, core.scss */
body[data-page="project"] .user-stories-container .user-story p {
  line-height: 21px;
}
/* line 743, core.scss */
body[data-page="project"] .user-stories-container .user-story .user-image {
  width: 150px;
  height: 150px;
  margin-right: 24px;
}

/* line 755, core.scss */
.flex-50 {
  display: flex;
  justify-content: space-between;
}
/* line 759, core.scss */
.flex-50 div {
  width: 50%;
}
/* line 762, core.scss */
.flex-50 div img {
  width: 100%;
}

/* line 768, core.scss */
.project-hero {
  padding: 60px 0 0 0;
}
/* line 771, core.scss */
.project-hero .project-card {
  width: 100%;
  margin: 0;
  display: flex;
  justify-content: space-between;
  transition: none;
}
/* line 778, core.scss */
.project-hero .project-card img {
  width: 45%;
  height: 100%;
  border-radius: 8px 0 0 8px;
}
/* line 784, core.scss */
.project-hero .project-card .project-overview {
  width: 55%;
  padding: 24px;
}
/* line 788, core.scss */
.project-hero .project-card .project-overview .project-header {
  display: flex;
  justify-content: space-between;
}
/* line 792, core.scss */
.project-hero .project-card .project-overview .project-header .type {
  text-transform: uppercase;
  color: #CB997E;
  font-size: 12px;
  font-weight: 700;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  line-height: 25px;
  min-width: 100px;
  text-align: right;
  letter-spacing: 0.4px;
}
/* line 805, core.scss */
.project-hero .project-card .project-overview p {
  font-weight: normal;
  line-height: 21px;
}
/* line 809, core.scss */
.project-hero .project-card .project-overview p span {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  margin: 24px 0 12px 0;
  letter-spacing: 0.4px;
}
/* line 820, core.scss */
.project-hero .project-card .project-overview .button {
  margin: 20px 0 0 0;
}

/* line 828, core.scss */
.minuteclinic .project-hero .project-card .project-overview p span {
  margin: 20px 0 12px 0;
}
/* line 832, core.scss */
.minuteclinic .flex-tools {
  display: flex;
}
/* line 835, core.scss */
.minuteclinic .flex-tools img {
  width: 100px;
  margin-right: 48px;
}
/* line 839, core.scss */
.minuteclinic .flex-tools img.last {
  width: 100%;
  margin-right: 0px;
}

/* line 847, core.scss */
.project-wide {
  background: #264653;
  padding: 70px 0;
  text-align: center;
  color: #ffffff;
}
/* line 853, core.scss */
.project-wide h3 {
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 24px;
}
/* line 859, core.scss */
.project-wide p {
  max-width: 900px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

/* line 868, core.scss */
.project-section {
  margin: 32px 0 48px 0;
}
/* line 871, core.scss */
.project-section img {
  width: 100%;
}
/* line 875, core.scss */
.project-section p {
  line-height: 21px;
}

/* line 880, core.scss */
.content-row {
  padding-top: 200px;
}

/* line 889, core.scss */
.content-wrap p {
  margin: 0 0 40px 0;
}

/* line 894, core.scss */
.tagline-content {
  width: 100%;
  padding: 100px 0;
  background: #f3f3f1;
  font-size: 22px;
  text-align: center;
  color: #333333;
  line-height: 36px;
  margin: 0 auto;
}
/* line 904, core.scss */
.tagline-content .tagline-text {
  width: 40%;
  margin: 0 auto;
}

/* line 910, core.scss */
.hero-content {
  background: #CB997E;
  background: -moz-linear-gradient(-45deg, #CB997E 0%, #f3f3f1 100%);
  background: -webkit-linear-gradient(-45deg, #CB997E 0%, #f3f3f1 100%);
  background: linear-gradient(165deg, #CB997E 0%, #f3f3f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '$color-primary', endColorstr='$color-light',GradientType=1 );
  padding: 160px 0 80px 0;
}
/* line 918, core.scss */
.hero-content .hero-header {
  color: #ffffff;
  font-size: 44px;
  font-family: 'Work Sans',Helvetica,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  line-height: 44px;
}
/* line 927, core.scss */
.hero-content .hero-header:after {
  content: '';
  display: block;
  width: 53px;
  border-bottom: 3px solid #ffffff;
  padding-top: 20px;
}
/* line 936, core.scss */
.hero-content .hero-tagline {
  color: #ffffff;
}

/* line 942, core.scss */
.breadcrumb-content .content-row {
  padding-top: 0px;
}

/* line 947, core.scss */
.breadcrumbs {
  text-align: left;
  font-size: 12px;
  display: flex;
}
/* line 953, core.scss */
.breadcrumbs .breadcrumb span {
  display: inline-block;
  margin: 0 5px;
}

/* line 960, core.scss */
.carousel-controls {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
/* line 966, core.scss */
.carousel-controls .carousel-control {
  margin: 0 7px;
  font-size: 12px;
  cursor: pointer;
}
/* line 971, core.scss */
.carousel-controls .carousel-control[aria-disabled="true"] {
  cursor: auto;
}
/* line 972, core.scss */
.carousel-controls .carousel-control[aria-disabled="true"] .svg-icon path,
.carousel-controls .carousel-control[aria-disabled="true"] .svg-icon polygon,
.carousel-controls .carousel-control[aria-disabled="true"] .svg-icon rect {
  fill: #FAF9F9;
}
/* line 978, core.scss */
.carousel-controls .carousel-control[aria-disabled="true"] .svg-icon circle {
  stroke: #FAF9F9;
  stroke-width: 1;
}

/* line 988, core.scss */
.main-carousel {
  display: flex;
  position: relative;
  margin: 45px 0 0 0;
}
/* line 993, core.scss */
.main-carousel .project {
  width: 350px;
  height: 350px;
  position: relative;
}
/* line 998, core.scss */
.main-carousel .project .project-img {
  width: 350px;
  height: 350px;
}
/* line 1002, core.scss */
.main-carousel .project .project-img img {
  width: 100%;
  height: 350px;
}

/* line 1011, core.scss */
.project .project-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, visibility .5s;
}
/* line 1023, core.scss */
.project .project-content h3 {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 38px;
  font-size: 32px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  letter-spacing: 0.4px;
}
/* line 1038, core.scss */
.project .project-content h3 span {
  display: block;
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: 1.5px;
}
/* line 1051, core.scss */
.project[data-project="Fremont Brewing"] .project-content {
  background: rgba(39, 99, 168, 0.9);
}
/* line 1058, core.scss */
.project[data-project="Take The Stage"] .project-content {
  background: rgba(52, 39, 144, 0.9);
}
/* line 1065, core.scss */
.project[data-project="Norman Regional"] .project-content {
  background: rgba(112, 42, 130, 0.9);
}
/* line 1072, core.scss */
.project[data-project="US Trust"] .project-content {
  background: rgba(196, 17, 44, 0.9);
}
/* line 1080, core.scss */
.project[data-project="Scrubs and Beyond"] .project-content {
  background: rgba(0, 76, 143, 0.9);
}
/* line 1086, core.scss */
.project:hover .project-content {
  visibility: visible;
  opacity: 1;
}
/* line 1091, core.scss */
.project .project-caption {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

/* line 1098, core.scss */
.all-projects-btn {
  width: 350px;
  height: 350px;
  display: block;
  text-align: center;
  transition: all .5s;
}
/* line 1105, core.scss */
.all-projects-btn span {
  display: block;
  width: 200px;
  margin: 0 auto;
  color: #CB997E;
  text-transform: uppercase;
  line-height: 38px;
  font-size: 32px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 1119, core.scss */
.all-projects-btn .svg-icon path {
  fill: #CB997E;
}
/* line 1123, core.scss */
.all-projects-btn:hover {
  background: #CB997E;
}
/* line 1126, core.scss */
.all-projects-btn:hover span {
  color: #ffffff;
}
/* line 1130, core.scss */
.all-projects-btn:hover .svg-icon path {
  fill: #ffffff;
}

/* line 1136, core.scss */
.services-outer-wrap {
  margin-top: 45px;
}
/* line 1139, core.scss */
.services-outer-wrap .services-outer-item {
  text-align: left;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 12px;
}
/* line 1145, core.scss */
.services-outer-wrap .services-outer-item .services-inner-header {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
/* line 1152, core.scss */
.services-outer-wrap .services-outer-item .services-inner-wrap {
  text-align: center;
}
/* line 1155, core.scss */
.services-outer-wrap .services-outer-item .services-inner-wrap .services-inner-item {
  width: 100%;
  text-transform: none;
  line-height: 32px;
}

/* line 1165, core.scss */
.clients-wrap .client-item {
  vertical-align: middle;
  margin: 45px 0;
  text-align: center;
}
/* line 1170, core.scss */
.clients-wrap .client-item .client-image {
  max-width: 150px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* line 1178, core.scss */
.process-content {
  min-height: calc(100vh - 211px);
}

/* line 1182, core.scss */
.section-title {
  letter-spacing: 3px;
  padding-top: 20px;
  text-transform: uppercase;
  margin: 10px 0 5px 0;
}

/* line 1189, core.scss */
.section-image {
  width: 100%;
}

/* line 1193, core.scss */
.icon-set {
  display: flex;
  justify-content: space-between;
}

/* line 1198, core.scss */
.ca-icon-wrap {
  display: block;
  text-align: center;
}
/* line 1202, core.scss */
.ca-icon-wrap span {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

/* line 1213, core.scss */
footer {
  text-align: center;
  padding: 80px 0;
  color: #333333;
  z-index: 1;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
}
/* line 1223, core.scss */
footer span {
  font-family: "Beautiful Bloom",cursive;
  font-size: 60px;
  color: #333333;
  margin-bottom: 50px;
  display: block;
  line-height: 72px;
}
/* line 1232, core.scss */
footer a {
  color: #333333;
}
/* line 1236, core.scss */
footer p, footer .social-links {
  font-size: 0.75em;
}

/* line 1241, core.scss */
.social-links {
  display: flex;
  width: 30%;
  margin: 0 auto;
  justify-content: space-evenly;
  margin-top: 20px;
}

/* line 1250, core.scss */
.svg-icon {
  width: 20px;
  height: 20px;
}
/* line 1254, core.scss */
.svg-icon path, .svg-icon polygon, .svg-icon rect {
  fill: #333333;
}
/* line 1258, core.scss */
.svg-icon circle {
  stroke: #333333;
  stroke-width: 1;
}
/* line 1263, core.scss */
.svg-icon.with-circle-bg {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 20px auto;
  background: #CB997E;
  color: #ffffff;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}
/* line 1274, core.scss */
.svg-icon.with-circle-bg path {
  fill: #ffffff;
}
/* line 1279, core.scss */
.svg-icon.large-icon {
  width: 80px;
  height: 80px;
  padding-top: 20px;
}
/* line 1285, core.scss */
.svg-icon.no-bg {
  width: 80px;
  height: 80px;
}
/* line 1289, core.scss */
.svg-icon.no-bg path, .svg-icon.no-bg polygon, .svg-icon.no-bg rect {
  fill: #CB997E;
}
/* line 1293, core.scss */
.svg-icon.no-bg circle {
  stroke: #CB997E;
  stroke-width: 1;
}

/* line 1301, core.scss */
.projects-wrap {
  display: flex;
  flex-wrap: wrap;
}
/* line 1305, core.scss */
.projects-wrap .project {
  width: calc(33% - 10px);
  margin: 5px;
  position: relative;
}
/* line 1310, core.scss */
.projects-wrap .project img {
  width: 100%;
}
/* line 1314, core.scss */
.projects-wrap .project .project-content {
  height: calc(100% - 5px);
}

/* line 1320, core.scss */
.extra-wrap {
  width: calc(33% - 10px);
  margin: 5px;
}
/* line 1324, core.scss */
.extra-wrap .extra-content {
  display: block;
  margin: 0 auto;
  line-height: 38px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
/* line 1333, core.scss */
.extra-wrap .extra-content h4 {
  text-transform: uppercase;
}
/* line 1337, core.scss */
.extra-wrap .extra-content a {
  font-size: 12px;
}

/* line 1345, core.scss */
.project-content h3 {
  text-align: center;
}
/* line 1349, core.scss */
.project-content h4 {
  text-transform: uppercase;
  font-size: 11px;
}
/* line 1354, core.scss */
.project-content img {
  width: 100%;
}
/* line 1358, core.scss */
.project-content .project-background {
  padding: 70px;
  background: #f3f3f1;
  margin: 30px 0;
  text-align: center;
}
/* line 1364, core.scss */
.project-content .project-background h3 {
  margin-bottom: 30px;
}

/* line 1372, core.scss */
.content-item {
  margin: 0 0 20px 0;
}

/* line 1376, core.scss */
.other-projects-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 1382, core.scss */
.project-nav-wrap {
  top: 50vh;
  left: 0;
  height: 100%;
  z-index: 100;
  position: fixed;
}
/* line 1390, core.scss */
.project-nav-wrap .project-nav {
  height: 32px;
  display: block;
}
/* line 1395, core.scss */
.project-nav-wrap .project-nav .project-nav-indicator {
  content: '';
  width: 32px;
  height: 2px;
  display: inline-block;
  background: #333;
  vertical-align: middle;
  line-height: 32px;
}
/* line 1405, core.scss */
.project-nav-wrap .project-nav .project-nav-text {
  display: inline-block;
  visibility: hidden;
  margin-left: 10px;
}
/* line 1410, core.scss */
.project-nav-wrap .project-nav .project-nav-text span {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 16px;
  vertical-align: middle;
}
/* line 1420, core.scss */
.project-nav-wrap .project-nav:hover .project-nav-text {
  visibility: visible;
}
/* line 1424, core.scss */
.project-nav-wrap .project-nav:hover .project-nav-indicator {
  width: 64px;
}
/* line 1430, core.scss */
.project-nav-wrap .project-nav.active .project-nav-indicator {
  width: 64px;
}

/* line 1437, core.scss */
.projects-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 24px;
}
/* line 1443, core.scss */
.projects-controls.only-previous {
  justify-content: flex-start;
}
/* line 1447, core.scss */
.projects-controls.only-next {
  justify-content: flex-end;
}
/* line 1451, core.scss */
.projects-controls .project-control {
  cursor: pointer;
  width: 50%;
}
/* line 1455, core.scss */
.projects-controls .project-control .thumb-wrap {
  display: flex;
  font-weight: normal;
}
/* line 1459, core.scss */
.projects-controls .project-control .thumb-wrap svg {
  margin: 0 20px;
}
/* line 1463, core.scss */
.projects-controls .project-control .thumb-wrap .thumb-text {
  text-transform: lowercase;
  font-size: 12px;
}
/* line 1469, core.scss */
.projects-controls .project-control.disabled {
  cursor: default;
}
/* line 1472, core.scss */
.projects-controls .project-control.disabled svg path {
  fill: #FAF9F9;
}
/* line 1479, core.scss */
.projects-controls .previous .thumb-wrap {
  justify-content: flex-start;
}
/* line 1485, core.scss */
.projects-controls .next .thumb-wrap {
  justify-content: flex-end;
}

/* line 1491, core.scss */
.image-path {
  border: 1px solid #f3f3f1;
  padding: 10px;
}

/* line 1496, core.scss */
.image-border {
  border: 1px solid #f3f3f1;
}

/* line 1500, core.scss */
.image-caption {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

/* line 1507, core.scss */
.filters-wrap {
  display: flex;
  justify-content: flex-end;
}
/* line 1511, core.scss */
.filters-wrap .filter-text {
  line-height: 30px;
  margin-right: 10px;
  font-size: 12px;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}

/* line 1520, core.scss */
.pill {
  margin: 0 5px;
  padding: 0 15px;
  background: #ffffff;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
  max-height: 30px;
  line-height: 30px;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  border: 1px solid #CB997E;
  color: #CB997E;
  font-weight: bold;
}
/* line 1536, core.scss */
.pill:hover {
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
}
/* line 1542, core.scss */
.pill.selected {
  background: #CB997E;
  color: #ffffff;
  font-weight: bold;
}

/*
.contact-content {
	min-height: calc(100vh - 121px);
}
*/
/* line 1557, core.scss */
.headshot-wrap {
  margin: 0 auto;
}
/* line 1560, core.scss */
.headshot-wrap .headshot {
  width: 100%;
}
/* line 1563, core.scss */
.headshot-wrap .headshot.circle {
  border-radius: 50%;
}
/* line 1567, core.scss */
.headshot-wrap .headshot.square {
  border-radius: 10px;
}

/* line 1576, core.scss */
.about-container .about-card .about-details p {
  line-height: 21px;
}
/* line 1580, core.scss */
.about-container .about-card .about-details h3 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  margin-top: 24px;
  color: #264653;
  text-transform: none;
  letter-spacing: normal;
}

/* line 1592, core.scss */
.facts-list {
  line-height: 22px;
}
/* line 1595, core.scss */
.facts-list li {
  margin: 7px 0;
}

/* line 1600, core.scss */
.bullet-list {
  line-height: 22px;
  list-style-type: circle;
}
/* line 1604, core.scss */
.bullet-list li {
  margin: 7px 20px;
}

/* line 1610, core.scss */
.tns-nav {
  display: none;
}

/* line 1614, core.scss */
.tns-outer {
  margin-top: 120px;
}

@media (min-width: 768px) and (max-width: 1024px) {
  /* line 1620, core.scss */
  .intro {
    padding: 52px 0 0 0;
  }

  /* line 1625, core.scss */
  .services-outer-wrap .services-outer-item {
    margin-bottom: 50px;
  }

  /* line 1630, core.scss */
  .project-card {
    margin: 24px 0;
  }

  /* line 1634, core.scss */
  .social-links {
    width: 100%;
    flex-wrap: wrap;
  }

  /* line 1640, core.scss */
  body[data-page=project] .all-projects-container {
    margin-top: 24px;
  }

  /* line 1645, core.scss */
  .project-hero {
    padding: 0px;
  }
  /* line 1648, core.scss */
  .project-hero .project-card {
    flex-wrap: wrap;
  }
  /* line 1651, core.scss */
  .project-hero .project-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  /* line 1656, core.scss */
  .project-hero .project-card .project-overview {
    width: 100%;
  }
  /* line 1659, core.scss */
  .project-hero .project-card .project-overview .type {
    width: 100%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* line 1669, core.scss */
  .intro {
    padding: 52px 0 0 0;
  }

  /* line 1673, core.scss */
  .social-links {
    width: 100%;
    flex-wrap: wrap;
  }

  /* line 1678, core.scss */
  .project-hero {
    padding: 0px;
  }
  /* line 1681, core.scss */
  .project-hero .project-card {
    flex-wrap: wrap;
  }
  /* line 1684, core.scss */
  .project-hero .project-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  /* line 1689, core.scss */
  .project-hero .project-card .project-overview {
    width: 100%;
  }
  /* line 1692, core.scss */
  .project-hero .project-card .project-overview .type {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 767px) {
  /* line 1702, core.scss */
  .intro {
    padding: 52px 0 0 0;
  }

  /* line 1706, core.scss */
  body.nav-open {
    position: fixed;
  }

  /* line 1710, core.scss */
  .desktop-only {
    display: none;
  }

  /* line 1714, core.scss */
  .mobile-only {
    display: block;
  }

  /* line 1718, core.scss */
  .header-wrap {
    position: relative;
  }

  /* line 1722, core.scss */
  .logo-wrap {
    text-align: left;
  }
  /* line 1725, core.scss */
  .logo-wrap .logo {
    text-align: left;
  }

  /* line 1730, core.scss */
  .hamburger-menu {
    display: block;
  }

  /* line 1735, core.scss */
  .nav-buttons.mobile-only {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  /* line 1747, core.scss */
  .nav-buttons.mobile-only.active {
    display: block;
  }
  /* line 1751, core.scss */
  .nav-buttons.mobile-only .nav-wrap {
    display: block;
    text-align: center;
  }
  /* line 1755, core.scss */
  .nav-buttons.mobile-only .nav-wrap .nav-item {
    margin: 0;
  }
  /* line 1758, core.scss */
  .nav-buttons.mobile-only .nav-wrap .nav-item:first-child {
    margin-top: 24px;
  }
  /* line 1762, core.scss */
  .nav-buttons.mobile-only .nav-wrap .nav-item a {
    font-weight: bold;
    font-size: 24px;
  }
  /* line 1769, core.scss */
  .nav-buttons.mobile-only .nav-close {
    width: 50px;
    height: 50px;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
  }
  /* line 1777, core.scss */
  .nav-buttons.mobile-only .nav-close .close {
    width: 30px;
    height: 30px;
  }

  /* line 1785, core.scss */
  .section-header {
    flex-wrap: wrap;
  }
  /* line 1788, core.scss */
  .section-header h2 {
    width: 100%;
  }
  /* line 1792, core.scss */
  .section-header .link-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
  }

  /* line 1799, core.scss */
  .breadcrumb-content {
    display: none;
  }

  /* line 1803, core.scss */
  .project-card {
    width: 100%;
    margin-bottom: 24px;
  }

  /* line 1808, core.scss */
  .featured-projects {
    padding: 20px 0 40px 0;
  }

  /* line 1812, core.scss */
  .projects-content {
    padding: 0;
    margin: 0;
  }

  /* line 1817, core.scss */
  .filters-wrap {
    justify-content: center;
    margin: 12px 0;
    width: 100%;
  }

  /* line 1823, core.scss */
  .project-hero {
    padding: 0px;
  }
  /* line 1826, core.scss */
  .project-hero .project-card {
    flex-wrap: wrap;
  }
  /* line 1829, core.scss */
  .project-hero .project-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  /* line 1834, core.scss */
  .project-hero .project-card .project-overview {
    width: 100%;
  }
  /* line 1837, core.scss */
  .project-hero .project-card .project-overview .type {
    width: 100%;
  }

  /* line 1844, core.scss */
  .flex-50 {
    flex-wrap: wrap;
  }
  /* line 1847, core.scss */
  .flex-50 div {
    width: 100%;
  }

  /* line 1854, core.scss */
  .projects-controls.only-previous .project-control, .projects-controls.only-next .project-control {
    width: 100%;
  }

  /* line 1861, core.scss */
  body[data-page=projects] .all-projects-container {
    padding: 20px 0 40px 0;
  }

  /* line 1867, core.scss */
  body[data-page=project] .all-projects-container {
    padding: 20px 0 40px 0;
  }
  /* line 1871, core.scss */
  body[data-page=project] h1.long-name {
    font-size: 24px;
  }
  /* line 1875, core.scss */
  body[data-page=project] .flow-flex {
    flex-wrap: wrap;
  }
  /* line 1878, core.scss */
  body[data-page=project] .flow-flex a {
    width: 100%;
  }
  /* line 1882, core.scss */
  body[data-page=project] .flow-flex p {
    width: 100%;
    margin: 0;
  }

  /* line 1889, core.scss */
  .about-container {
    padding: 0;
  }
  /* line 1895, core.scss */
  .about-container .about-card .about-details {
    flex-wrap: wrap;
  }
  /* line 1898, core.scss */
  .about-container .about-card .about-details .about-image {
    width: 100%;
  }
  /* line 1901, core.scss */
  .about-container .about-card .about-details .about-image img {
    border-radius: 8px 8px 0 0;
  }
  /* line 1906, core.scss */
  .about-container .about-card .about-details .about-desc {
    width: 100%;
  }

  /* line 1913, core.scss */
  .thanks-container {
    padding: 0;
  }
  /* line 1916, core.scss */
  .thanks-container .thanks-content {
    padding: 20px 0 40px 0;
  }

  /* line 1921, core.scss */
  .social-links {
    width: 100%;
    flex-wrap: wrap;
  }
}
@media (max-width: 480px) {
  /* line 1930, core.scss */
  .intro {
    padding: 52px 0 0 0;
  }

  /* line 1934, core.scss */
  .nav-wrap {
    flex-wrap: wrap;
  }
  /* line 1937, core.scss */
  .nav-wrap .nav-item {
    margin: 8px 0;
  }

  /* line 1942, core.scss */
  body.nav-open {
    position: fixed;
  }

  /* line 1946, core.scss */
  .desktop-only {
    display: none;
  }

  /* line 1950, core.scss */
  .mobile-only {
    display: block;
  }

  /* line 1954, core.scss */
  .header-wrap {
    position: relative;
  }

  /* line 1958, core.scss */
  .logo-wrap {
    text-align: left;
  }
  /* line 1961, core.scss */
  .logo-wrap .logo {
    text-align: left;
  }

  /* line 1966, core.scss */
  .hamburger-menu {
    display: block;
  }

  /* line 1971, core.scss */
  .nav-buttons.mobile-only {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    background-color: #ffffff;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  /* line 1983, core.scss */
  .nav-buttons.mobile-only.active {
    display: block;
  }
  /* line 1987, core.scss */
  .nav-buttons.mobile-only .nav-wrap {
    display: block;
    text-align: center;
  }
  /* line 1991, core.scss */
  .nav-buttons.mobile-only .nav-wrap .nav-item {
    margin: 0;
  }
  /* line 1994, core.scss */
  .nav-buttons.mobile-only .nav-wrap .nav-item:first-child {
    margin-top: 24px;
  }
  /* line 1998, core.scss */
  .nav-buttons.mobile-only .nav-wrap .nav-item a {
    font-weight: bold;
    font-size: 24px;
  }
  /* line 2005, core.scss */
  .nav-buttons.mobile-only .nav-close {
    width: 50px;
    height: 50px;
    line-height: 70px;
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
  }
  /* line 2013, core.scss */
  .nav-buttons.mobile-only .nav-close .close {
    width: 30px;
    height: 30px;
  }

  /* line 2021, core.scss */
  .section-header {
    flex-wrap: wrap;
  }
  /* line 2024, core.scss */
  .section-header h2 {
    width: 100%;
  }
  /* line 2028, core.scss */
  .section-header .link-wrapper {
    width: 100%;
    text-align: center;
    margin-bottom: 12px;
  }

  /* line 2035, core.scss */
  .breadcrumb-content {
    display: none;
  }

  /* line 2039, core.scss */
  .project-card {
    width: 100%;
    margin-bottom: 24px;
    margin-right: 0px;
  }

  /* line 2046, core.scss */
  .all-projects-wrap .project-card {
    width: 100%;
    margin-bottom: 24px;
    margin-right: 0px;
  }

  /* line 2053, core.scss */
  .featured-projects {
    padding: 20px 0 40px 0;
  }

  /* line 2057, core.scss */
  .projects-content {
    padding: 0;
    margin: 0;
  }

  /* line 2062, core.scss */
  .filters-wrap {
    justify-content: center;
    margin: 12px 0;
    width: 100%;
  }

  /* line 2068, core.scss */
  .project-hero {
    padding: 0px;
  }
  /* line 2071, core.scss */
  .project-hero .project-card {
    flex-wrap: wrap;
  }
  /* line 2074, core.scss */
  .project-hero .project-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
  }
  /* line 2079, core.scss */
  .project-hero .project-card .project-overview {
    width: 100%;
  }
  /* line 2082, core.scss */
  .project-hero .project-card .project-overview .type {
    width: 100%;
  }

  /* line 2091, core.scss */
  body[data-page=project] .user-stories-container .user-story {
    flex-wrap: wrap;
  }
  /* line 2094, core.scss */
  body[data-page=project] .user-stories-container .user-story .user-image {
    text-align: center;
    margin: 0 auto;
  }
  /* line 2099, core.scss */
  body[data-page=project] .user-stories-container .user-story div {
    margin-top: 24px;
  }

  /* line 2107, core.scss */
  .minuteclinic .flex-tools {
    flex-wrap: wrap;
  }
  /* line 2110, core.scss */
  .minuteclinic .flex-tools li {
    margin: 12px 8px;
  }

  /* line 2116, core.scss */
  .flex-50 {
    flex-wrap: wrap;
  }
  /* line 2119, core.scss */
  .flex-50 div {
    width: 100%;
  }

  /* line 2126, core.scss */
  .projects-controls.only-previous .project-control, .projects-controls.only-next .project-control {
    width: 100%;
  }

  /* line 2133, core.scss */
  body[data-page=projects] .all-projects-container {
    padding: 20px 0 40px 0;
  }

  /* line 2139, core.scss */
  body[data-page=project] .all-projects-container {
    padding: 20px 0 40px 0;
  }
  /* line 2143, core.scss */
  body[data-page=project] h1.long-name {
    font-size: 24px;
  }
  /* line 2147, core.scss */
  body[data-page=project] .flow-flex {
    flex-wrap: wrap;
  }
  /* line 2150, core.scss */
  body[data-page=project] .flow-flex a {
    width: 100%;
  }
  /* line 2154, core.scss */
  body[data-page=project] .flow-flex p {
    width: 100%;
    margin: 0;
  }

  /* line 2161, core.scss */
  .about-container {
    padding: 0;
  }
  /* line 2167, core.scss */
  .about-container .about-card .about-details {
    flex-wrap: wrap;
  }
  /* line 2170, core.scss */
  .about-container .about-card .about-details .about-image {
    width: 100%;
  }
  /* line 2173, core.scss */
  .about-container .about-card .about-details .about-image img {
    border-radius: 8px 8px 0 0;
  }
  /* line 2178, core.scss */
  .about-container .about-card .about-details .about-desc {
    width: 100%;
  }

  /* line 2185, core.scss */
  .thanks-container {
    padding: 0;
  }
  /* line 2188, core.scss */
  .thanks-container .thanks-content {
    padding: 20px 0 40px 0;
  }

  /* line 2193, core.scss */
  .pt-xs-20 {
    padding-top: 20px !important;
  }

  /* line 2197, core.scss */
  .pt-xs-30 {
    padding-top: 30px !important;
  }

  /* line 2201, core.scss */
  .tagline-content {
    padding: 130px 0 60px 0;
  }
  /* line 2204, core.scss */
  .tagline-content .tagline-text {
    width: 80%;
  }

  /* line 2209, core.scss */
  .content-row {
    padding-top: 60px;
  }

  /* line 2213, core.scss */
  .content-wrap {
    display: block;
    width: 100vw;
    overflow: hidden;
  }

  /* line 2219, core.scss */
  .tns-outer {
    margin-top: 40px;
  }

  /* line 2223, core.scss */
  .main-carousel {
    margin: 0px;
  }

  /* line 2228, core.scss */
  .services-outer-wrap .services-outer-item {
    margin-bottom: 50px;
  }

  /* line 2234, core.scss */
  .projects-wrap .project {
    width: 100vw;
  }

  /* line 2239, core.scss */
  .extra-wrap {
    width: 100vw;
  }

  /* line 2243, core.scss */
  .process-content {
    padding-top: 70px;
    min-height: calc(100vh - 93px);
  }

  /* line 2248, core.scss */
  .headshot-wrap {
    margin-top: 30px;
  }

  /* line 2253, core.scss */
  .fremont .sitemap-wrap {
    text-align: center;
  }

  /* line 2258, core.scss */
  .social-links {
    width: 100%;
    flex-wrap: wrap;
  }
}

/*# sourceMappingURL=core.css.map */
