@font-face {
  font-family: 'Beautiful Bloom';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BeautifulBloom-Regular.eot");
  src: url("../fonts/BeautifulBloom-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/BeautifulBloom-Regular.woff") format("woff"), url("../fonts/BeautifulBloom-Regular.ttf") format("truetype");
}
@font-face {
  font-family: 'Beautiful Bloom Alt';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/BeautifulBloom-Alt.eot");
  src: url("../fonts/BeautifulBloom-Alt.eot?#iefix") format("embedded-opentype"), url("../fonts/BeautifulBloom-Alt.woff") format("woff"), url("../fonts/BeautifulBloom-Alt.ttf") format("truetype");
}
/* line 57, _helpers.scss */
.content-wrap {
  display: flex;
  justify-content: flex-start;
  width: 1380px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes scroll-down {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  60% {
    box-shadow: 0 0 0 60px rgba(255, 255, 255, 0.1);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
/* line 138, _helpers.scss */
.mt-5 {
  margin-top: 5px !important;
}

/* line 138, _helpers.scss */
.mt-10 {
  margin-top: 10px !important;
}

/* line 138, _helpers.scss */
.mt-15 {
  margin-top: 15px !important;
}

/* line 138, _helpers.scss */
.mt-20 {
  margin-top: 20px !important;
}

/* line 138, _helpers.scss */
.mt-30 {
  margin-top: 30px !important;
}

/* line 138, _helpers.scss */
.mt-50 {
  margin-top: 50px !important;
}

/* line 138, _helpers.scss */
.mt-60 {
  margin-top: 60px !important;
}

/* line 138, _helpers.scss */
.mt-70 {
  margin-top: 70px !important;
}

/* line 138, _helpers.scss */
.mt-80 {
  margin-top: 80px !important;
}

/* line 138, _helpers.scss */
.mt-90 {
  margin-top: 90px !important;
}

/* line 138, _helpers.scss */
.mt-100 {
  margin-top: 100px !important;
}

/* line 138, _helpers.scss */
.mt-200 {
  margin-top: 200px !important;
}

/* line 147, _helpers.scss */
.mb-5 {
  margin-bottom: 5px !important;
}

/* line 147, _helpers.scss */
.mb-10 {
  margin-bottom: 10px !important;
}

/* line 147, _helpers.scss */
.mb-15 {
  margin-bottom: 15px !important;
}

/* line 147, _helpers.scss */
.mb-20 {
  margin-bottom: 20px !important;
}

/* line 147, _helpers.scss */
.mb-30 {
  margin-bottom: 30px !important;
}

/* line 147, _helpers.scss */
.mb-50 {
  margin-bottom: 50px !important;
}

/* line 147, _helpers.scss */
.mb-60 {
  margin-bottom: 60px !important;
}

/* line 147, _helpers.scss */
.mb-70 {
  margin-bottom: 70px !important;
}

/* line 147, _helpers.scss */
.mb-80 {
  margin-bottom: 80px !important;
}

/* line 147, _helpers.scss */
.mb-90 {
  margin-bottom: 90px !important;
}

/* line 147, _helpers.scss */
.mb-100 {
  margin-bottom: 100px !important;
}

/* line 147, _helpers.scss */
.mb-200 {
  margin-bottom: 200px !important;
}

/* line 156, _helpers.scss */
.pt-5 {
  padding-top: 5px !important;
}

/* line 156, _helpers.scss */
.pt-10 {
  padding-top: 10px !important;
}

/* line 156, _helpers.scss */
.pt-15 {
  padding-top: 15px !important;
}

/* line 156, _helpers.scss */
.pt-20 {
  padding-top: 20px !important;
}

/* line 156, _helpers.scss */
.pt-30 {
  padding-top: 30px !important;
}

/* line 156, _helpers.scss */
.pt-50 {
  padding-top: 50px !important;
}

/* line 156, _helpers.scss */
.pt-60 {
  padding-top: 60px !important;
}

/* line 156, _helpers.scss */
.pt-70 {
  padding-top: 70px !important;
}

/* line 156, _helpers.scss */
.pt-80 {
  padding-top: 80px !important;
}

/* line 156, _helpers.scss */
.pt-90 {
  padding-top: 90px !important;
}

/* line 156, _helpers.scss */
.pt-100 {
  padding-top: 100px !important;
}

/* line 156, _helpers.scss */
.pt-200 {
  padding-top: 200px !important;
}

/* line 165, _helpers.scss */
.pb-5 {
  padding-bottom: 5px !important;
}

/* line 165, _helpers.scss */
.pb-10 {
  padding-bottom: 10px !important;
}

/* line 165, _helpers.scss */
.pb-15 {
  padding-bottom: 15px !important;
}

/* line 165, _helpers.scss */
.pb-20 {
  padding-bottom: 20px !important;
}

/* line 165, _helpers.scss */
.pb-30 {
  padding-bottom: 30px !important;
}

/* line 165, _helpers.scss */
.pb-50 {
  padding-bottom: 50px !important;
}

/* line 165, _helpers.scss */
.pb-60 {
  padding-bottom: 60px !important;
}

/* line 165, _helpers.scss */
.pb-70 {
  padding-bottom: 70px !important;
}

/* line 165, _helpers.scss */
.pb-80 {
  padding-bottom: 80px !important;
}

/* line 165, _helpers.scss */
.pb-90 {
  padding-bottom: 90px !important;
}

/* line 165, _helpers.scss */
.pb-100 {
  padding-bottom: 100px !important;
}

/* line 165, _helpers.scss */
.pb-200 {
  padding-bottom: 200px !important;
}

/* line 2, _projects.scss */
.fremont .hero-content {
  background: #2763a8;
  background: -moz-linear-gradient(-45deg, #2763a8 0%, #aebbb0 100%);
  background: -webkit-linear-gradient(-45deg, #2763a8 0%, #aebbb0 100%);
  background: linear-gradient(165deg, #2763a8 0%, #aebbb0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#2763a8', endColorstr='#aebbb0',GradientType=1 );
}
/* line 11, _projects.scss */
.fremont h2:after {
  border-bottom: 3px solid #2763A8;
}
/* line 17, _projects.scss */
.fremont .underline:after {
  background: #2763A8;
}
/* line 21, _projects.scss */
.fremont .underline.active {
  background: #2763A8;
}
/* line 26, _projects.scss */
.fremont .outside-link {
  color: #2763A8;
}
/* line 30, _projects.scss */
.fremont .outside-link svg path {
  fill: #2763A8;
}
/* line 36, _projects.scss */
.fremont .section-title {
  color: #2763A8;
}
/* line 40, _projects.scss */
.fremont .emphasize-bg {
  background: #2763A8;
  color: #ffffff;
}
/* line 45, _projects.scss */
.fremont .button {
  background: #2763A8;
  color: #ffffff;
}
/* line 50, _projects.scss */
.fremont .project-content {
  background: rgba(39, 99, 168, 0.9);
}
/* line 53, _projects.scss */
.fremont .project-content h3 {
  color: #2763A8;
}
/* line 57, _projects.scss */
.fremont .project-content .project-background-color {
  background: #2763A8;
  color: #ffffff;
}
/* line 61, _projects.scss */
.fremont .project-content .project-background-color h3 {
  color: #ffffff;
}
/* line 70, _projects.scss */
.fremont .project-nav-wrap .project-nav.active .project-nav-indicator {
  background: #2763A8;
}
/* line 78, _projects.scss */
.fremont .svg-icon.with-circle-bg {
  background: #2763A8;
}
/* line 83, _projects.scss */
.fremont .sitemap-wrap {
  text-align: right;
}
/* line 86, _projects.scss */
.fremont .sitemap-wrap .sitemap {
  width: 90%;
}
/* line 91, _projects.scss */
.fremont footer {
  background: #2763A8;
  color: #ffffff;
}
/* line 95, _projects.scss */
.fremont footer a {
  color: #ffffff;
}
/* line 101, _projects.scss */
.fremont .pill.selected {
  background: #2763A8;
}

/* line 108, _projects.scss */
.takethestage .hero-content {
  background: #007170;
  background: -moz-linear-gradient(-45deg, #007170 0%, #342790 100%);
  background: -webkit-linear-gradient(-45deg, #007170 0%, #342790 100%);
  background: linear-gradient(165deg, #007170 0%, #342790 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#007170', endColorstr='#342790',GradientType=1 );
}
/* line 117, _projects.scss */
.takethestage h2:after {
  border-bottom: 3px solid #342790;
}
/* line 123, _projects.scss */
.takethestage .underline:after {
  background: #342790;
}
/* line 127, _projects.scss */
.takethestage .underline.active {
  background: #342790;
}
/* line 132, _projects.scss */
.takethestage .section-title {
  color: #342790;
}
/* line 136, _projects.scss */
.takethestage .emphasize-bg {
  background: #342790;
  color: #ffffff;
}
/* line 141, _projects.scss */
.takethestage .button {
  background: #342790;
  color: #ffffff;
}
/* line 146, _projects.scss */
.takethestage .project-content {
  background: rgba(52, 39, 144, 0.9);
}
/* line 149, _projects.scss */
.takethestage .project-content h3 {
  color: #342790;
}
/* line 153, _projects.scss */
.takethestage .project-content .project-background-color {
  background: #342790;
  color: #ffffff;
}
/* line 157, _projects.scss */
.takethestage .project-content .project-background-color h3 {
  color: #ffffff;
}
/* line 166, _projects.scss */
.takethestage .project-nav-wrap .project-nav.active .project-nav-indicator {
  background: #342790;
}
/* line 174, _projects.scss */
.takethestage .svg-icon.with-circle-bg {
  background: #342790;
}
/* line 179, _projects.scss */
.takethestage .sitemap-wrap {
  text-align: right;
}
/* line 182, _projects.scss */
.takethestage .sitemap-wrap .sitemap {
  width: 90%;
}
/* line 187, _projects.scss */
.takethestage footer {
  background: #342790;
  color: #ffffff;
}
/* line 191, _projects.scss */
.takethestage footer a {
  color: #ffffff;
}
/* line 197, _projects.scss */
.takethestage .pill.selected {
  background: #342790;
}

/* line 205, _projects.scss */
.ustrust .hero-content {
  background: #F5F2EE;
  background: -moz-linear-gradient(-45deg, #F5F2EE 0%, #5E5E5D 100%);
  background: -webkit-linear-gradient(-45deg, #F5F2EE 0%, #5E5E5D 100%);
  background: linear-gradient(165deg, #F5F2EE 0%, #5E5E5D 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#F5F2EE', endColorstr='#5E5E5D',GradientType=1 );
}
/* line 214, _projects.scss */
.ustrust h2:after {
  border-bottom: 3px solid #C4112F;
}
/* line 220, _projects.scss */
.ustrust .underline:after {
  background: #C4112F;
}
/* line 224, _projects.scss */
.ustrust .underline.active {
  background: #C4112F;
}
/* line 229, _projects.scss */
.ustrust .section-title {
  color: #C4112F;
}
/* line 233, _projects.scss */
.ustrust .emphasize-bg {
  background: #C4112F;
  color: #ffffff;
}
/* line 238, _projects.scss */
.ustrust .button {
  background: #C4112F;
  color: #ffffff;
}
/* line 243, _projects.scss */
.ustrust .project-content {
  background: rgba(196, 17, 44, 0.9);
}
/* line 246, _projects.scss */
.ustrust .project-content h3 {
  color: #C4112F;
}
/* line 250, _projects.scss */
.ustrust .project-content .project-background-color {
  background: #C4112F;
  color: #ffffff;
}
/* line 254, _projects.scss */
.ustrust .project-content .project-background-color h3 {
  color: #ffffff;
}
/* line 263, _projects.scss */
.ustrust .project-nav-wrap .project-nav.active .project-nav-indicator {
  background: #C4112F;
}
/* line 271, _projects.scss */
.ustrust .svg-icon.with-circle-bg {
  background: #C4112F;
}
/* line 276, _projects.scss */
.ustrust .sitemap-wrap {
  text-align: right;
}
/* line 279, _projects.scss */
.ustrust .sitemap-wrap .sitemap {
  width: 90%;
}
/* line 284, _projects.scss */
.ustrust footer {
  background: #C4112F;
  color: #ffffff;
}
/* line 288, _projects.scss */
.ustrust footer a {
  color: #ffffff;
}
/* line 294, _projects.scss */
.ustrust .pill.selected {
  background: #C4112F;
}

/* line 301, _projects.scss */
.normanregional .hero-content {
  background: #68317E;
  background: -moz-linear-gradient(-45deg, #68317E 0%, #403A38 100%);
  background: -webkit-linear-gradient(-45deg, #68317E 0%, #403A38 100%);
  background: linear-gradient(165deg, #68317E 0%, #403A38 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#68317E', endColorstr='#403A38',GradientType=1 );
}
/* line 310, _projects.scss */
.normanregional h2:after {
  border-bottom: 3px solid #702a82;
}
/* line 316, _projects.scss */
.normanregional .underline:after {
  background: #702a82;
}
/* line 320, _projects.scss */
.normanregional .underline.active {
  background: #702a82;
}
/* line 325, _projects.scss */
.normanregional .section-title {
  color: #702a82;
}
/* line 329, _projects.scss */
.normanregional .emphasize-bg {
  background: #702a82;
  color: #ffffff;
}
/* line 334, _projects.scss */
.normanregional .button {
  background: #702a82;
  color: #ffffff;
}
/* line 339, _projects.scss */
.normanregional .project-content {
  background: rgba(112, 42, 130, 0.9);
}
/* line 342, _projects.scss */
.normanregional .project-content h3 {
  color: #702a82;
}
/* line 346, _projects.scss */
.normanregional .project-content .project-background-color {
  background: #702a82;
  color: #ffffff;
}
/* line 350, _projects.scss */
.normanregional .project-content .project-background-color h3 {
  color: #ffffff;
}
/* line 359, _projects.scss */
.normanregional .project-nav-wrap .project-nav.active .project-nav-indicator {
  background: #702a82;
}
/* line 367, _projects.scss */
.normanregional .svg-icon.with-circle-bg {
  background: #702a82;
}
/* line 372, _projects.scss */
.normanregional .sitemap-wrap {
  text-align: right;
}
/* line 375, _projects.scss */
.normanregional .sitemap-wrap .sitemap {
  width: 90%;
}
/* line 380, _projects.scss */
.normanregional footer {
  background: #702a82;
  color: #ffffff;
}
/* line 384, _projects.scss */
.normanregional footer a {
  color: #ffffff;
}
/* line 390, _projects.scss */
.normanregional .pill.selected {
  background: #702a82;
}

/* line 397, _projects.scss */
.scrubsandbeyond .hero-content {
  background: #004C8F;
  background: -moz-linear-gradient(-45deg, #004C8F 0%, #12273A 100%);
  background: -webkit-linear-gradient(-45deg, #004C8F 0%, #12273A 100%);
  background: linear-gradient(165deg, #004C8F 0%, #12273A 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '#004C8F', endColorstr='#12273A',GradientType=1 );
}
/* line 406, _projects.scss */
.scrubsandbeyond h2:after {
  border-bottom: 3px solid #004C8F;
}
/* line 412, _projects.scss */
.scrubsandbeyond .underline:after {
  background: #004C8F;
}
/* line 416, _projects.scss */
.scrubsandbeyond .underline.active {
  background: #004C8F;
}
/* line 421, _projects.scss */
.scrubsandbeyond .section-title {
  color: #004C8F;
}
/* line 425, _projects.scss */
.scrubsandbeyond .emphasize-bg {
  background: #004C8F;
  color: #ffffff;
}
/* line 430, _projects.scss */
.scrubsandbeyond .button {
  background: #004C8F;
  color: #ffffff;
}
/* line 435, _projects.scss */
.scrubsandbeyond .project-content {
  background: rgba(0, 76, 143, 0.9);
}
/* line 438, _projects.scss */
.scrubsandbeyond .project-content h3 {
  color: #004C8F;
}
/* line 442, _projects.scss */
.scrubsandbeyond .project-content .project-background-color {
  background: #004C8F;
  color: #ffffff;
}
/* line 446, _projects.scss */
.scrubsandbeyond .project-content .project-background-color h3 {
  color: #ffffff;
}
/* line 455, _projects.scss */
.scrubsandbeyond .project-nav-wrap .project-nav.active .project-nav-indicator {
  background: #004C8F;
}
/* line 463, _projects.scss */
.scrubsandbeyond .svg-icon.with-circle-bg {
  background: #004C8F;
}
/* line 468, _projects.scss */
.scrubsandbeyond .sitemap-wrap {
  text-align: right;
}
/* line 471, _projects.scss */
.scrubsandbeyond .sitemap-wrap .sitemap {
  width: 90%;
}
/* line 476, _projects.scss */
.scrubsandbeyond footer {
  background: #004C8F;
  color: #ffffff;
}
/* line 480, _projects.scss */
.scrubsandbeyond footer a {
  color: #ffffff;
}
/* line 486, _projects.scss */
.scrubsandbeyond .pill.selected {
  background: #004C8F;
}

/* line 7, core.scss */
* {
  margin: 0;
  padding: 0;
}

/* line 12, core.scss */
html, body {
  height: 100%;
}

/* line 16, core.scss */
body {
  background: #ffffff;
  font-family: "Work Sans", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0.75px;
  line-height: 21px;
  overflow-x: hidden;
}

/* line 25, core.scss */
h1.lg-name {
  margin: 30px 0;
  font-size: 60px;
  text-align: center;
}

/* line 31, core.scss */
h2 {
  font-family: 'Work Sans', Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  line-height: 32px;
  color: #131313;
}
/* line 40, core.scss */
h2.left {
  text-align: left;
}
/* line 43, core.scss */
h2.left:after {
  margin: 0px;
}
/* line 48, core.scss */
h2.right {
  text-align: right;
}
/* line 51, core.scss */
h2.right:after {
  margin: 0 0 0 calc(100% - 53px);
}
/* line 56, core.scss */
h2.center {
  text-align: center;
}
/* line 59, core.scss */
h2.center:after {
  margin: auto;
}
/* line 64, core.scss */
h2:after {
  content: '';
  display: block;
  width: 53px;
  border-bottom: 3px solid #e8db37;
  padding-top: 20px;
}

/* line 73, core.scss */
h3 {
  font-family: 'Karla', Helvetica, sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3.5px;
  margin-bottom: 7px;
}

/* line 82, core.scss */
a {
  text-decoration: none;
  color: #131313;
  font-weight: bold;
}
/* line 87, core.scss */
a:hover {
  color: #696969;
}
/* line 91, core.scss */
a.active {
  cursor: default;
}
/* line 94, core.scss */
a.active:hover {
  color: #131313;
}

/* line 100, core.scss */
.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}
/* line 105, core.scss */
.underline:after {
  content: "";
  position: absolute;
  z-index: -1;
  right: 0;
  width: 0;
  bottom: -5px;
  background: #e8db37;
  height: 3px;
  transition: width 0.3s ease-out;
}
/* line 117, core.scss */
.underline:hover:after, .underline:focus:after, .underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}
/* line 123, core.scss */
.underline.active {
  color: #696969;
}
/* line 126, core.scss */
.underline.active:after {
  content: '';
  transition: none;
  width: 100%;
  height: 3px;
  background: #e8db37;
}
/* line 134, core.scss */
.underline.active:hover {
  color: #696969;
}

/* line 140, core.scss */
.outside-link {
  color: #e8db37;
}
/* line 143, core.scss */
.outside-link svg {
  vertical-align: text-bottom;
}
/* line 146, core.scss */
.outside-link svg path {
  fill: #e8db37;
}

/* line 152, core.scss */
.underline-text {
  text-decoration: underline;
}

/* line 156, core.scss */
ul {
  list-style: none;
}

/* line 160, core.scss */
ol {
  margin-left: 20px;
}

/* line 164, core.scss */
.list-spacing {
  line-height: 32px;
}

/* line 169, core.scss */
.list-icons li {
  display: flex;
}
/* line 173, core.scss */
.list-icons svg {
  width: 12px;
  height: 12px;
  margin-top: 4px;
}
/* line 179, core.scss */
.list-icons span {
  width: calc(100% - 20px);
  padding-left: 10px;
}

/* line 185, core.scss */
.is-hidden {
  display: none !important;
}

/* line 189, core.scss */
.sm-text {
  font-family: 'Karla', Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 3.5px;
  text-transform: uppercase;
}

/* line 196, core.scss */
.lg-text {
  line-height: 26px;
  font-weight: normal;
  font-size: 16px;
  text-align: center;
}

/* line 203, core.scss */
.emphasize {
  font-style: italic;
}

/* line 207, core.scss */
.emphasize-bg {
  background: #e8db37;
  color: #131313;
  padding: 20px 20px 30px 20px;
  margin: 30px 0;
}

/* line 214, core.scss */
.button {
  background: #e8db37;
  color: #131313;
  padding: 15px 20px;
  font-weight: normal;
  font-size: 12px;
  border-radius: 30px;
  display: inline-block;
  -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.1);
}

/* line 227, core.scss */
.project-button {
  text-align: center;
}

/* line 231, core.scss */
.container-fluid {
  padding: 70px;
  background: #f3f3f1;
  margin: 30px 0;
}

/* line 237, core.scss */
.left {
  text-align: left;
}

/* line 241, core.scss */
.center {
  text-align: center;
}

/* line 245, core.scss */
.right {
  text-align: right;
}

/* line 253, core.scss */
.logo {
  text-align: center;
  color: #131313;
  font-family: "Beautiful Bloom", cursive;
}
/* line 258, core.scss */
.logo h1 {
  font-family: "Beautiful Bloom", cursive;
  font-size: 123px;
  font-weight: normal;
  line-height: 147px;
  text-align: left;
  text-transform: none;
  color: #131313;
}

/* line 269, core.scss */
.headline {
  text-align: center;
}

/* line 273, core.scss */
.tagline {
  width: 100%;
  text-align: center;
}

/* line 278, core.scss */
.ampersand {
  font-family: "Beautiful Bloom", cursive;
  font-size: 20px;
  vertical-align: sub;
  color: #e8db37;
  font-weight: bold;
}

/* line 286, core.scss */
.top-wrap {
  background: #ffffff;
  color: #131313;
  width: 100%;
  height: calc(100vh - 20px);
  position: relative;
  z-index: 20;
}
/* line 294, core.scss */
.top-wrap .large-header {
  animation: fadein 3.5s;
  -moz-animation: fadein 3.5s;
  /* Firefox */
  -webkit-animation: fadein 3.5s;
  /* Safari and Chrome */
  -o-animation: fadein 3.5s;
  /* Opera */
}
/* line 300, core.scss */
.top-wrap .large-header .header-wrap {
  position: absolute;
  width: 90%;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;
}
/* line 311, core.scss */
.top-wrap .large-header .header-wrap .header {
  position: relative;
  width: 100%;
  max-width: 1380px;
  height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 322, core.scss */
.top-wrap .large-header .header-wrap .header .logo {
  width: 450px;
  margin: 0 auto;
}

/* line 331, core.scss */
.small-header {
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  z-index: 100;
  position: fixed;
  background: #ffffff;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
}
/* line 343, core.scss */
.homepage .small-header {
  display: none;
}
/* line 347, core.scss */
.small-header .header-wrap {
  height: 80px;
  line-height: 80px;
}
/* line 352, core.scss */
.small-header .header-wrap .header .logo {
  margin: 0;
  font-size: 32px;
  font-weight: normal;
  text-align: left;
}
/* line 359, core.scss */
.small-header .header-wrap .header nav .nav-wrap .nav-item {
  line-height: normal;
}

/* line 366, core.scss */
.hamburger-menu {
  line-height: 80px;
  position: absolute;
  right: 10px;
}

/* line 374, core.scss */
nav {
  height: 80px;
  line-height: 80px;
}
/* line 378, core.scss */
nav .nav-wrap {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}
/* line 385, core.scss */
nav .nav-wrap .nav-item {
  margin: 0 27px;
  font-family: 'Karla', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}
/* line 393, core.scss */
nav .nav-wrap .nav-item a {
  font-weight: normal;
}

/* line 401, core.scss */
.scroll {
  position: absolute;
  bottom: 20px;
  padding-top: 60px;
  z-index: 2;
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
}
/* line 411, core.scss */
.scroll a {
  width: 30px;
  height: 30px;
  color: #131313;
  transition: opacity .3s;
  position: absolute;
  top: 0;
  left: 50%;
  border-radius: 100%;
  box-sizing: border-box;
  display: block;
}
/* line 424, core.scss */
.scroll a:hover {
  opacity: .5;
}
/* line 428, core.scss */
.scroll a::before {
  position: absolute;
  top: 2px;
  left: 2px;
  z-index: -1;
  content: '';
  width: 25px;
  height: 25px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.05);
  border-radius: 100%;
  opacity: 0;
  box-sizing: border-box;
  -webkit-animation: scroll-down 3s infinite;
  animation: scroll-down 3s infinite;
}
/* line 445, core.scss */
.scroll a .svg-icon {
  width: 30px;
  height: 30px;
}
/* line 450, core.scss */
.scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 46px;
  height: 46px;
  margin-left: -23px;
  border: 1px solid #696969;
  border-radius: 100%;
  box-sizing: border-box;
}
/* line 461, core.scss */
.scroll a span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  width: 16px;
  height: 16px;
  margin: -12px 0 0 -8px;
  border-left: 1px solid #696969;
  border-bottom: 1px solid #696969;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
/* line 476, core.scss */
.scroll a span::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  content: '';
  width: 44px;
  height: 44px;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1);
  border-radius: 100%;
  opacity: 0;
  box-sizing: border-box;
  -webkit-animation: scroll-down 3s infinite;
  animation: scroll-down 3s infinite;
}

/* line 497, core.scss */
.scrollable-content {
  width: 100vw;
  position: relative;
  overflow: hidden;
  z-index: 10;
  background: #ffffff;
  margin-bottom: 344px;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.05);
}

/* line 509, core.scss */
.content-row {
  padding-top: 200px;
}

/* line 518, core.scss */
.content-wrap p {
  margin: 0 0 40px 0;
}

/* line 523, core.scss */
.tagline-content {
  width: 100%;
  padding: 100px 0;
  background: #f3f3f1;
  font-size: 22px;
  text-align: center;
  color: #131313;
  line-height: 36px;
  margin: 0 auto;
}
/* line 533, core.scss */
.tagline-content .tagline-text {
  width: 40%;
  margin: 0 auto;
}

/* line 539, core.scss */
.hero-content {
  background: #e8db37;
  background: -moz-linear-gradient(-45deg, #e8db37 0%, #f3f3f1 100%);
  background: -webkit-linear-gradient(-45deg, #e8db37 0%, #f3f3f1 100%);
  background: linear-gradient(165deg, #e8db37 0%, #f3f3f1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '$color-yellow', endColorstr='$color-light',GradientType=1 );
  padding: 160px 0 80px 0;
}
/* line 547, core.scss */
.hero-content .hero-header {
  color: #ffffff;
  font-size: 44px;
  font-family: 'Work Sans',Helvetica,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  line-height: 44px;
}
/* line 556, core.scss */
.hero-content .hero-header:after {
  content: '';
  display: block;
  width: 53px;
  border-bottom: 3px solid #ffffff;
  padding-top: 20px;
}
/* line 565, core.scss */
.hero-content .hero-tagline {
  color: #ffffff;
}

/* line 571, core.scss */
.breadcrumb-content .content-row {
  padding-top: 0px;
}

/* line 576, core.scss */
.breadcrumbs {
  text-align: left;
  text-transform: uppercase;
  font-size: 10px;
  display: flex;
}
/* line 583, core.scss */
.breadcrumbs .breadcrumb span {
  display: inline-block;
  margin: 0 5px;
}

/* line 590, core.scss */
.carousel-controls {
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
/* line 596, core.scss */
.carousel-controls .carousel-control {
  margin: 0 7px;
  font-size: 12px;
  cursor: pointer;
}
/* line 601, core.scss */
.carousel-controls .carousel-control[aria-disabled="true"] {
  cursor: auto;
}
/* line 602, core.scss */
.carousel-controls .carousel-control[aria-disabled="true"] .svg-icon path,
.carousel-controls .carousel-control[aria-disabled="true"] .svg-icon polygon,
.carousel-controls .carousel-control[aria-disabled="true"] .svg-icon rect {
  fill: #d6d4c3;
}
/* line 608, core.scss */
.carousel-controls .carousel-control[aria-disabled="true"] .svg-icon circle {
  stroke: #d6d4c3;
  stroke-width: 1;
}

/* line 618, core.scss */
.main-carousel {
  display: flex;
  position: relative;
  margin: 45px 0 0 0;
}
/* line 623, core.scss */
.main-carousel .project {
  width: 350px;
  height: 350px;
  position: relative;
}
/* line 628, core.scss */
.main-carousel .project .project-img {
  width: 350px;
  height: 350px;
}
/* line 632, core.scss */
.main-carousel .project .project-img img {
  width: 100%;
  height: 350px;
}

/* line 641, core.scss */
.project .project-content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s, visibility .5s;
}
/* line 653, core.scss */
.project .project-content h3 {
  display: block;
  max-width: 300px;
  margin: 0 auto;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 38px;
  font-size: 32px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  font-family: "Work Sans",Helvetica,Arial,sans-serif;
}
/* line 667, core.scss */
.project .project-content h3 span {
  display: block;
  font-size: 12px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: 1.5px;
}
/* line 680, core.scss */
.project[data-project="Fremont Brewing"] .project-content {
  background: rgba(39, 99, 168, 0.9);
}
/* line 687, core.scss */
.project[data-project="Take The Stage"] .project-content {
  background: rgba(52, 39, 144, 0.9);
}
/* line 694, core.scss */
.project[data-project="Norman Regional"] .project-content {
  background: rgba(112, 42, 130, 0.9);
}
/* line 701, core.scss */
.project[data-project="US Trust"] .project-content {
  background: rgba(196, 17, 44, 0.9);
}
/* line 709, core.scss */
.project[data-project="Scrubs and Beyond"] .project-content {
  background: rgba(0, 76, 143, 0.9);
}
/* line 715, core.scss */
.project:hover .project-content {
  visibility: visible;
  opacity: 1;
}
/* line 720, core.scss */
.project .project-caption {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

/* line 727, core.scss */
.all-projects-btn {
  width: 350px;
  height: 350px;
  display: block;
  text-align: center;
  transition: all .5s;
}
/* line 734, core.scss */
.all-projects-btn span {
  display: block;
  width: 200px;
  margin: 0 auto;
  color: #e8db37;
  text-transform: uppercase;
  line-height: 38px;
  font-size: 32px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
/* line 748, core.scss */
.all-projects-btn .svg-icon path {
  fill: #e8db37;
}
/* line 752, core.scss */
.all-projects-btn:hover {
  background: #e8db37;
}
/* line 755, core.scss */
.all-projects-btn:hover span {
  color: #ffffff;
}
/* line 759, core.scss */
.all-projects-btn:hover .svg-icon path {
  fill: #ffffff;
}

/* line 765, core.scss */
.services-outer-wrap {
  margin-top: 45px;
}
/* line 768, core.scss */
.services-outer-wrap .services-outer-item {
  text-align: left;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  font-size: 12px;
}
/* line 774, core.scss */
.services-outer-wrap .services-outer-item .services-inner-header {
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}
/* line 781, core.scss */
.services-outer-wrap .services-outer-item .services-inner-wrap {
  text-align: center;
}
/* line 784, core.scss */
.services-outer-wrap .services-outer-item .services-inner-wrap .services-inner-item {
  width: 100%;
  text-transform: none;
  line-height: 32px;
}

/* line 794, core.scss */
.clients-wrap .client-item {
  vertical-align: middle;
  margin: 45px 0;
  text-align: center;
}
/* line 799, core.scss */
.clients-wrap .client-item .client-image {
  max-width: 150px;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* line 807, core.scss */
.process-content {
  min-height: calc(100vh - 211px);
}

/* line 811, core.scss */
.section-title {
  letter-spacing: 3px;
  padding-top: 20px;
  text-transform: uppercase;
  margin: 10px 0 5px 0;
}

/* line 818, core.scss */
.section-header {
  line-height: 1.7;
  text-transform: none;
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 2em;
  letter-spacing: 0.3px;
}

/* line 827, core.scss */
.section-desc {
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 20px;
}

/* line 833, core.scss */
.section-image {
  width: 100%;
}

/* line 837, core.scss */
.ca-icon-wrap {
  display: block;
  text-align: center;
}
/* line 841, core.scss */
.ca-icon-wrap span {
  display: block;
  font-weight: 700;
  margin-bottom: 10px;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}

/* line 852, core.scss */
footer {
  text-align: center;
  padding: 80px 0;
  background: #e8db37;
  position: fixed;
  z-index: 1;
  bottom: 0;
  width: 100vw;
  overflow: hidden;
}
/* line 862, core.scss */
footer span {
  font-family: "Beautiful Bloom",cursive;
  font-size: 60px;
  color: #ffffff;
  margin-bottom: 50px;
  display: block;
  line-height: 72px;
}
/* line 871, core.scss */
footer p, footer .social-links {
  font-size: 0.75em;
}

/* line 876, core.scss */
.social-links {
  display: flex;
  width: 30%;
  margin: 0 auto;
  justify-content: space-evenly;
  margin-top: 20px;
}

/* line 885, core.scss */
.svg-icon {
  width: 20px;
  height: 20px;
}
/* line 889, core.scss */
.svg-icon path, .svg-icon polygon, .svg-icon rect {
  fill: #131313;
}
/* line 893, core.scss */
.svg-icon circle {
  stroke: #131313;
  stroke-width: 1;
}
/* line 898, core.scss */
.svg-icon.with-circle-bg {
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto 20px auto;
  background: #e8db37;
  color: #ffffff;
  border-radius: 50%;
  padding: 10px;
  text-align: center;
}
/* line 909, core.scss */
.svg-icon.with-circle-bg path {
  fill: #ffffff;
}
/* line 914, core.scss */
.svg-icon.large-icon {
  width: 80px;
  height: 80px;
  padding-top: 20px;
}
/* line 920, core.scss */
.svg-icon.no-bg {
  width: 80px;
  height: 80px;
}
/* line 924, core.scss */
.svg-icon.no-bg path, .svg-icon.no-bg polygon, .svg-icon.no-bg rect {
  fill: #e8db37;
}
/* line 928, core.scss */
.svg-icon.no-bg circle {
  stroke: #e8db37;
  stroke-width: 1;
}

/* line 936, core.scss */
.projects-wrap {
  display: flex;
  flex-wrap: wrap;
}
/* line 940, core.scss */
.projects-wrap .project {
  width: calc(33% - 10px);
  margin: 5px;
  position: relative;
}
/* line 945, core.scss */
.projects-wrap .project img {
  width: 100%;
}
/* line 949, core.scss */
.projects-wrap .project .project-content {
  height: calc(100% - 5px);
}

/* line 955, core.scss */
.extra-wrap {
  width: calc(33% - 10px);
  margin: 5px;
}
/* line 959, core.scss */
.extra-wrap .extra-content {
  display: block;
  margin: 0 auto;
  line-height: 38px;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
}
/* line 968, core.scss */
.extra-wrap .extra-content h4 {
  text-transform: uppercase;
}
/* line 972, core.scss */
.extra-wrap .extra-content a {
  font-size: 12px;
}

/* line 980, core.scss */
.project-content h3 {
  text-align: center;
}
/* line 984, core.scss */
.project-content h4 {
  text-transform: uppercase;
  font-size: 11px;
}
/* line 989, core.scss */
.project-content img {
  width: 100%;
}
/* line 993, core.scss */
.project-content .project-background {
  padding: 70px;
  background: #f3f3f1;
  margin: 30px 0;
  text-align: center;
}
/* line 999, core.scss */
.project-content .project-background h3 {
  margin-bottom: 30px;
}

/* line 1007, core.scss */
.content-item {
  margin: 0 0 20px 0;
}

/* line 1011, core.scss */
.other-projects-header {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

/* line 1017, core.scss */
.project-nav-wrap {
  top: 50vh;
  left: 0;
  height: 100%;
  z-index: 100;
  position: fixed;
}
/* line 1025, core.scss */
.project-nav-wrap .project-nav {
  height: 32px;
  display: block;
}
/* line 1030, core.scss */
.project-nav-wrap .project-nav .project-nav-indicator {
  content: '';
  width: 32px;
  height: 2px;
  display: inline-block;
  background: #333;
  vertical-align: middle;
  line-height: 32px;
}
/* line 1040, core.scss */
.project-nav-wrap .project-nav .project-nav-text {
  display: inline-block;
  visibility: hidden;
  margin-left: 10px;
}
/* line 1045, core.scss */
.project-nav-wrap .project-nav .project-nav-text span {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 10px;
  line-height: 16px;
  vertical-align: middle;
}
/* line 1055, core.scss */
.project-nav-wrap .project-nav:hover .project-nav-text {
  visibility: visible;
}
/* line 1059, core.scss */
.project-nav-wrap .project-nav:hover .project-nav-indicator {
  width: 64px;
}
/* line 1065, core.scss */
.project-nav-wrap .project-nav.active .project-nav-indicator {
  width: 64px;
}

/*
.project-nav-wrap {
	display: flex;
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    position: fixed;
    top: 50vh;
    bottom: 0;
    left: 0px;
    z-index: 10;
    width: 0;


	.project-nav-inner {
		left: 100%;
		width: auto;
		display: flex;
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    -webkit-box-orient: vertical;
	    -ms-flex-direction: column;
	    -webkit-flex-direction: column;
	    flex-direction: column;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	    -webkit-transform: translatez(0);
	    -moz-transform: translatez(0);
	    -ms-transform: translatez(0);
	    -o-transform: translatez(0);
	    transform: translatez(0);


		.project-nav {

			display: block;
		    position: relative;
		    padding: 25px 0;

			.project-nav-indicator {
				text-align: left;
				width: 64px;
			    font-size: 0;
			    line-height: 0;

			    &:before {
			    	content: '';
				    display: inline-block;
				    width: 40px;
				    height: 2px;
				    background-color: #636363;
				    -webkit-transition: background-color 170ms ease-out,width 170ms ease-out;
				    -moz-transition: background-color 170ms ease-out,width 170ms ease-out;
				    -ms-transition: background-color 170ms ease-out,width 170ms ease-out;
				    -o-transition: background-color 170ms ease-out,width 170ms ease-out;
				    transition: background-color 170ms ease-out,width 170ms ease-out;
			    }
			}

			.project-nav-text {
				left: 100vw;
			    margin-left: 13px;
			    text-align: left;
			    -webkit-transform: translatex(-20%);
			    -moz-transform: translatex(-20%);
			    -ms-transform: translatex(-20%);
			    -o-transform: translatex(-20%);
			    transform: translatex(-20%);
			    display: block;
			    position: absolute;
			    top: 50%;
			    height: 13px;
			    margin-top: -6.5px;
			    white-space: nowrap;
			    line-height: 13px;
			    -webkit-font-smoothing: subpixel-antialiased;
			    -moz-osx-font-smoothing: auto;
			    font-family: Arial,Helvetica,sans-serif;
			    font-weight: 400;
			    font-size: 12px;
			    letter-spacing: 0em;
			    font-family: freight-sans-pro;
			    font-weight: 300;
			    font-style: normal;
			    font-size: 13px;
			    letter-spacing: .3em;
			    text-transform: uppercase;
			    color: #000;
			    opacity: 0;
			    -webkit-transition: opacity 170ms ease-out,transform 170ms ease-out,right 0s 170ms;
			    -moz-transition: opacity 170ms ease-out,transform 170ms ease-out,right 0s 170ms;
			    -ms-transition: opacity 170ms ease-out,transform 170ms ease-out,right 0s 170ms;
			    -o-transition: opacity 170ms ease-out,transform 170ms ease-out,right 0s 170ms;
			    transition: opacity 170ms ease-out,transform 170ms ease-out,right 0s 170ms;

			    span {
			    	display: inline-block;
				    vertical-align: baseline;
				    max-width: 130px;
				    white-space: nowrap;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    line-height: 100%;
			    }
			}

			&.active {
				.project-nav-indicator {
					&:before {
						width: 64px;
    					background-color: #93acb5;
					}
				}
			}
		}
	}
}
*/
/* line 1203, core.scss */
.projects-controls {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
/* line 1208, core.scss */
.projects-controls .project-control {
  cursor: pointer;
  width: 50%;
}
/* line 1212, core.scss */
.projects-controls .project-control .thumb-wrap {
  display: flex;
  font-weight: normal;
}
/* line 1216, core.scss */
.projects-controls .project-control .thumb-wrap svg {
  margin: 0 20px;
}
/* line 1220, core.scss */
.projects-controls .project-control .thumb-wrap .thumb-text {
  text-transform: lowercase;
  font-size: 12px;
}
/* line 1226, core.scss */
.projects-controls .project-control.disabled {
  cursor: default;
}
/* line 1229, core.scss */
.projects-controls .project-control.disabled svg path {
  fill: #d6d4c3;
}
/* line 1236, core.scss */
.projects-controls .previous .thumb-wrap {
  justify-content: flex-start;
}
/* line 1242, core.scss */
.projects-controls .next .thumb-wrap {
  justify-content: flex-end;
}

/* line 1248, core.scss */
.image-path {
  border: 1px solid #f3f3f1;
  padding: 10px;
  margin: 20px 0;
}

/* line 1254, core.scss */
.image-border {
  border: 1px solid #f3f3f1;
}

/* line 1258, core.scss */
.image-caption {
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
}

/* line 1265, core.scss */
.filters-wrap {
  display: flex;
  justify-content: flex-end;
}
/* line 1269, core.scss */
.filters-wrap .filter-text {
  line-height: 27px;
  font-style: italic;
  margin-right: 10px;
  font-size: 12px;
}

/* line 1277, core.scss */
.pill {
  margin: 0 5px;
  padding: 3px 15px;
  background: #f3f3f1;
  border-radius: 20px;
  text-transform: uppercase;
  font-size: 10px;
  cursor: pointer;
}
/* line 1286, core.scss */
.pill.selected {
  background: #e8db37;
}

/* line 1292, core.scss */
.contact-content {
  min-height: calc(100vh - 121px);
}

/* line 1297, core.scss */
.headshot-wrap {
  margin: 0 auto;
}
/* line 1300, core.scss */
.headshot-wrap .headshot {
  width: 100%;
}
/* line 1303, core.scss */
.headshot-wrap .headshot.circle {
  border-radius: 50%;
}
/* line 1307, core.scss */
.headshot-wrap .headshot.square {
  border-radius: 10px;
}

/* line 1313, core.scss */
.facts-list {
  line-height: 22px;
}
/* line 1316, core.scss */
.facts-list li {
  margin: 7px 0;
}

/* line 1322, core.scss */
.tns-nav {
  display: none;
}

/* line 1326, core.scss */
.tns-outer {
  margin-top: 120px;
}

@media (min-width: 640px) {
  /* line 1332, core.scss */
  .is-mobile {
    display: none;
  }

  /* line 1336, core.scss */
  .is-tablet {
    display: block;
  }

  /* line 1341, core.scss */
  .services-outer-wrap .services-outer-item {
    margin-bottom: 50px;
  }
}
@media (max-width: 639px) {
  /* line 1349, core.scss */
  .is-desktop {
    display: none;
  }

  /* line 1353, core.scss */
  .pt-xs-20 {
    padding-top: 20px !important;
  }

  /* line 1357, core.scss */
  .pt-xs-30 {
    padding-top: 30px !important;
  }

  /* line 1362, core.scss */
  .homepage .small-header {
    display: block !important;
  }

  /* line 1369, core.scss */
  nav .nav-wrap .nav-item {
    margin: 0 13px;
  }

  /* line 1375, core.scss */
  .nav-buttons {
    background: #e8db37;
    width: 100vw;
    position: absolute;
    left: 0;
    z-index: 100;
    top: -1px;
    -webkit-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.05);
  }
  /* line 1386, core.scss */
  .nav-buttons .nav-wrap {
    justify-content: space-around;
  }

  /* line 1391, core.scss */
  .tagline-content {
    padding: 130px 0 60px 0;
  }
  /* line 1394, core.scss */
  .tagline-content .tagline-text {
    width: 80%;
  }

  /* line 1399, core.scss */
  .content-row {
    padding-top: 60px;
  }

  /* line 1403, core.scss */
  .content-wrap {
    display: block;
    width: 100vw;
    overflow: hidden;
  }

  /* line 1409, core.scss */
  .tns-outer {
    margin-top: 40px;
  }

  /* line 1413, core.scss */
  .main-carousel {
    margin: 0px;
  }

  /* line 1418, core.scss */
  .services-outer-wrap .services-outer-item {
    margin-bottom: 50px;
  }

  /* line 1423, core.scss */
  .project-content {
    padding-top: 70px;
  }
  /* line 1426, core.scss */
  .project-content .project-background {
    padding: 20px;
  }

  /* line 1431, core.scss */
  .projects-content {
    padding-top: 70px;
  }

  /* line 1436, core.scss */
  .projects-wrap .project {
    width: 100vw;
  }

  /* line 1441, core.scss */
  .extra-wrap {
    width: 100vw;
  }

  /* line 1445, core.scss */
  .filters-wrap {
    justify-content: center;
    margin-top: 30px;
  }

  /* line 1450, core.scss */
  .process-content {
    padding-top: 70px;
    min-height: calc(100vh - 93px);
  }

  /* line 1455, core.scss */
  .contact-content {
    height: 100%;
    padding-top: 70px;
  }

  /* line 1460, core.scss */
  .headshot-wrap {
    margin-top: 30px;
  }

  /* line 1465, core.scss */
  .fremont .sitemap-wrap {
    text-align: center;
  }

  /* line 1470, core.scss */
  .social-links {
    width: 100%;
  }
}

/*# sourceMappingURL=core.css.map */
