@import "fonts";
@import "config";
@import "helpers";
@import "projects";

// general
* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
	background: $body-bg;
	font-family: $body-font-face;
	font-size: $body-font-size;
	letter-spacing: 0.75px;
	line-height: 21px;
	overflow-x: hidden;
}

h1.lg-name {
	margin: 30px 0;
	font-size: 60px;
	text-align: center;
}

h2 {
	font-family: 'Work Sans', Helvetica, sans-serif;
	font-size: 32px;
    font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 3.5px;
	line-height: 32px;
	color: $color-dark;

	&.left {
		text-align: left;

		&:after {
			margin: 0px;
		}
	}

	&.right {
		text-align: right;

		&:after {
			margin: 0 0 0 calc(100% - 53px);
		}
	}

	&.center {
		text-align: center;

		&:after {
			margin: auto;
		}
	}

	&:after {
		content: '';
		display: block;
		width: 53px;
	    border-bottom: 3px solid set-color($color-primary);
	    padding-top: 20px;
	    margin-bottom: 32px;
	}
}

h3 {
	font-family: 'Karla', Helvetica, sans-serif;
	font-size: 18px;
    letter-spacing: 1px;
    margin-bottom: 7px;
}

a {
	text-decoration: none;
	color: $links-color;
	font-weight: $links-weight;

	&:hover {
		color: $links-hover-color;
	}

	&.active {
		cursor: default;

		&:hover {
			color: $links-color;
		}
	}
}

.underline {
  	display: inline;
  	position: relative;
  	overflow: hidden;

  	&:after {
  		content: "";
  		position: absolute;
  		z-index: -1;
  		right: 0;
  		width: 0;
  		bottom: -5px;
  		background: set-color($color-primary);
  		height: 3px;
  		transition: width 0.3s ease-out;
  	}

  	&:hover:after, &:focus:after, &:active:after {
  		left: 0;
  		right: auto;
  		width: 100%;
  	}

  	&.active {
  		color: $links-hover-color;

  		&:after {
  			content: '';
  			transition: none;
  			width: 100%;
  			height: 3px;
  			background: set-color($color-primary);
  		}

  		&:hover {
  			color: $links-hover-color;
  		}
  	}
}

.outside-link {
	color: $color-primary;

	svg {
		vertical-align: text-bottom;

		path {
			fill: $color-primary;
		}
	}
}

.underline-text {
	text-decoration: underline;
}

ul {
	list-style: none;
}

ol {
	margin-left: 20px;
}

.list-spacing {
	line-height: 32px;
}

.list-icons {
	li {
		display: flex;
	}

	svg {
		width: 12px;
		height: 12px;
		margin-top: 4px;
	}

	span {
		width: calc(100% - 20px);
		padding-left: 10px;
	}
}

.is-hidden {
	display: none !important;
}

.sm-text {
	font-family: 'Karla', Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 3.5px;
    text-transform: uppercase;
}

.lg-text {
	line-height: 26px;
    font-weight: normal;
    font-size: 16px;
    text-align: center;
}

.emphasize {
	font-style: italic;
}

.emphasize-bg {
	background: $color-primary;
	color: $color-dark;
	padding: 20px 20px 30px 20px;
    margin: 30px 0;
}

.button {
	height: 40px;
	line-height: 40px;
	background: $color-secondary;
	color: $color-white;
	font-family: Karla,Helvetica,sans-serif;
    padding: 0 20px;
    font-weight: bold;
    font-size: 14px;
    border-radius: 30px;
    display: inline-block;
    -webkit-box-shadow: 0 10px 25px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 10px 25px 0 rgba(0,0,0,0.1);
    box-shadow: 0 10px 25px 0 rgba(0,0,0,0.1);

    &:hover {
    	color: $color-white;
    }
}

.project-button {
	text-align: center;
}

.container-fluid {
	padding: 70px;
	background: $color-light;
	margin: 30px 0;
}

.left {
	text-align: left;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

// page specific
.section-header {
	display: flex;
	justify-content: space-between;

	a {
		line-height: 20px;
		color: $color-primary;
		text-decoration: underline;
		font-weight: normal;
	}
}

.header-wrap {
	background: $color-white;
    position: relative;
    width: 100%;
    z-index: 100;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.05);

    header {
    	padding: 12px 0 24px 0;
    }
}

// logo
.logo-wrap {
	width: 252px;
    padding-top: 44px;

    .logo {
    	text-align: left;
	    color: $color-dark;
	    font-family: $header-font-face;
	    font-size: 68px;
	    font-weight: 100;
    }

    .header-tag {
    	margin-top: 6px;
	    text-align: left;
	    text-transform: uppercase;
	    font-size: 12px;
	    left: -3px;
	    position: relative;
	    color: $color-dkgray;
    }
}

.headline {
    text-align: center;
}

.tagline {
    width: 100%;
    text-align: center;
}

.ampersand {
	font-family: $header-font-face;
	font-size: 20px;
	vertical-align: sub;
	color: $color-primary;
	font-weight: bold;
}

.top-wrap {
	background: $header-bg;
	color: $header-color;
	width: 100%;
	height: calc(100vh - 20px);
    position: relative;
    z-index: 20;

    .large-header {
    	animation: fadein 3.5s;
	    -moz-animation: fadein 3.5s; /* Firefox */
	    -webkit-animation: fadein 3.5s; /* Safari and Chrome */
	    -o-animation: fadein 3.5s; /* Opera */

    	.header-wrap {
	    	position: absolute;
	    	width: 90%;
	    	top: 50%;
	    	left: 50%;
	    	z-index: 2;
	    	-webkit-transform: translate(-50%, -50%);
	    	transform: translate(-50%, -50%);
	    	text-align: center;
	    	white-space: nowrap;

	    	.header {
	    		position: relative;
				width: 100%;
				max-width: $site-width;
			    height: 100%;
			    margin: 0 auto;
			    padding: 0 15px;
			    display: flex;
			    align-items: center;
			    justify-content: space-between;

			    .logo {
			    	width: 450px;
			    	margin: 0 auto;
			    }
			}
	    }
    }
}

.small-header {
	width: 100%;
	height: 80px;
	top: 0;
	left: 0;
  	z-index: 100;
	position: fixed;
	background: $color-white;
	-webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.05);

	/*
	.homepage & {
		display: none;
	
	}
	*/

	.header-wrap {
	    .header {
	    	.logo {
	    		margin: 0;
	    		font-size: 32px;
	    		font-weight: normal;
	    		text-align: left;
		    }

	    	nav .nav-wrap .nav-item {
	    		line-height: normal;
	    	}
	    }
	}
}

.hamburger-menu {
	//float: right;
    line-height: 80px;
    position: absolute;
    right: 10px;
}

// navigation
nav {
	height: 100px;
    line-height: 100px;

	.nav-wrap {
		display: flex;
		flex-wrap: nowrap;
		justify-content: flex-end;
		margin: 0;
		padding: 0;

		.nav-item {
		    margin: 0 0 0 48px;
		    font-family: "Work Sans";
		    font-size: 14px;
		    font-weight: normal;
		    letter-spacing: 1px;

		    a {
		    	font-weight: normal;
		    }
		}
	}
}

// scroll
.scroll {
	position: absolute;
    bottom: 20px;
    padding-top: 60px;
    z-index: 2;
    display: block;
    width: 100%;
    text-align: center;
    margin: 0 auto;

	a {
		width: 30px;
		height: 30px;
		color: $color-dark;
		transition: opacity .3s;

		position: absolute;
		top: 0;
		left: 50%;
		border-radius: 100%;
		box-sizing: border-box;
		display: block;

		&:hover {
			opacity: .5;
		}

		&::before {
			position: absolute;
			top: 2px;
			left: 2px;
			z-index: -1;
			content: '';
			width: 25px;
			height: 25px;
			box-shadow: 0 0 0 0 rgba(0,0,0,.05);
			border-radius: 100%;
			opacity: 0;
			box-sizing: border-box;

			-webkit-animation: scroll-down 3s infinite;
			animation: scroll-down 3s infinite;
		}

		.svg-icon {
			width: 30px;
			height: 30px;
		}

		span {
			position: absolute;
			top: 0;
			left: 50%;
			width: 46px;
			height: 46px;
			margin-left: -23px;
			border: 1px solid $color-dkgray;
			border-radius: 100%;
			box-sizing: border-box;

			&::after {
				position: absolute;
				top: 50%;
				left: 50%;
				content: '';
				width: 16px;
				height: 16px;
				margin: -12px 0 0 -8px;
				border-left: 1px solid $color-dkgray;
				border-bottom: 1px solid $color-dkgray;
				-webkit-transform: rotate(-45deg);
				transform: rotate(-45deg);
				box-sizing: border-box;
			}

			&::before {
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
				content: '';
				width: 44px;
				height: 44px;
				box-shadow: 0 0 0 0 rgba(0, 0, 0, .1);
				border-radius: 100%;
				opacity: 0;
				box-sizing: border-box;

				-webkit-animation: scroll-down 3s infinite;
				animation: scroll-down 3s infinite;
			}
		}
	}
}

// content 
/*.scrollable-content {
	width: 100vw;
	position: relative;
    overflow: hidden;
	z-index: 10;
	background: $color-white;
	-webkit-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.05);
	-moz-box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.05);
	box-shadow: 0px 10px 25px 0px rgba(0,0,0,0.05);
}
*/

.featured-projects {
	background: $color-light;
	padding: 60px 0 100px 0;
}

.new-projects-wrap {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.project-card {
	width: calc(33% - 24px);
	margin: 0 12px;
	min-height: 132px;
	background: $color-white;
	border-radius: 8px;
	box-shadow: 0 10px 20px 0 rgba(57, 58, 61, 0.15);

	&.linked:hover {
		box-shadow: 0 10px 20px 0 rgba(57,58,61,0.2)
	}

	img {
		width: 100%;
		border-radius: 8px 8px 0 0;
	}

	.project-details {
		padding: 24px;

		.project-header {
			display: flex;
			justify-content: space-between;
			
			.type {
				text-transform: uppercase;
				color: $color-primary;
				font-size: 12px;
				font-weight: 700;
				font-family: Karla, Helvetica, sans-serif;
				line-height: 21px;
				min-width: 100px;
				text-align: right;
			}
		}

		.role {
			font-weight: normal;

			span {
				display: block;
				text-transform: uppercase;
				font-size: 12px;
				font-family: Karla, Helvetica, sans-serif;
				font-weight: 700;
			}
		}

		.desc {
			margin-top: 12px;
		}

		a {
			display: block;
			margin-top: 12px;
		}
	}

	
}

.process-content {
	margin: 60px 0 100px 0;
}

.new-process-wrap {
	display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: stretch;
}

.process-card {
	width: calc(50% - 24px);
    border-radius: 8px;
    min-height: 192px;
    background: #fff;
    box-shadow: 0 10px 20px 0 rgba(57,58,61,.15);
    margin-bottom: 48px;

    .process-details {
    	display: flex;
    	justify-content: space-between;
    	height: 100%;

    	.process-header {
    		background: $color-primary;
    		color: $color-white;
    		text-align: center;
    		font-size: 18px;
    		font-weight: 700;
    		width: 45%;
    		height: 100%;
    		vertical-align: middle;
    		border-radius: 8px 0 0 8px;
    		line-height: 192px;
    		margin-bottom: 0px;
    	}

    	.services-inner-wrap {
    		width: calc(55% - 24px);
    		padding: 24px 0;

    		.services-inner-item {
    			line-height: 24px;

    			span {
    				font-style: italic;
    				margin-top: 7px;
    			}

    			.services-sub-list {
    				padding: 0 0 0 12px;

    				.services-sub-item {

    				}

    			}
    		}
    	}
    }
}

.about-card {
	width: 100%;
	border-radius: 8px;
	background: $color-white;
	box-shadow: 0 10px 20px 0 rgba(57,58,61,0.15);

	.about-details {
		display: flex;
		justify-content: space-between;

		.about-image {
			width: 45%;

			img {
				width: 100%;
				height: 100%;
				border-radius: 8px 0 0 8px;
			}
		}

		.about-list {
			width: calc(55% - 24px);
			padding: 0 24px;
		}
	}
}

.breadcrumb-content {
	padding-top: 20px;
}

.projects-content {
	margin: 60px 0 100px 0;
}

.all-projects-container {
	background: set-color($color-light);
}

.all-projects-wrap {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;

	.project-card {
		margin-bottom: 48px;
	}
}

.for-fun-content {
	padding-bottom: 100px;
}

.content-row {
	padding-top: 200px;
}

.content-wrap {
	@extend %flex-start;

	//margin: 0 65px 65px 65px;

	p {
	    margin: 0 0 40px 0;
	}
}

.tagline-content {
	width: 100%;
    padding: 100px 0;
    background: $color-light;
    font-size: 22px;
    text-align: center;
    color: $color-dark;
    line-height: 36px;
    margin: 0 auto;

	.tagline-text {
		width: 40%;
		margin: 0 auto;
	}
}

.hero-content {
	background: $color-primary;
    background: -moz-linear-gradient(-45deg, $color-primary 0%, $color-light 100%);
    background: -webkit-linear-gradient(-45deg, $color-primary 0%,$color-light 100%);
    background: linear-gradient(165deg, $color-primary 0%,$color-light 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= '$color-primary', endColorstr='$color-light',GradientType=1 );
    padding: 160px 0 80px 0;

    .hero-header {
    	color: $color-white;
    	font-size: 44px;
    	font-family: 'Work Sans',Helvetica,sans-serif;
	    font-weight: 700;
	    text-transform: uppercase;
	    letter-spacing: 3.5px;
	    line-height: 44px;

	    &:after {
	    	content: '';
		    display: block;
		    width: 53px;
		    border-bottom: 3px solid $color-white;
		    padding-top: 20px;
	    }
    }

    .hero-tagline {
    	color: $color-white;
    }
}

.breadcrumb-content {
	.content-row {
		padding-top: 0px;
	}
}

.breadcrumbs {
	text-align: left;
    font-size: 12px;
    display: flex;

	.breadcrumb {
		span {
			display: inline-block;
			margin: 0 5px;
		}
	}
}

.carousel-controls {
	position: relative;
	display: flex;
    align-items: flex-end;
    justify-content: flex-end;

	.carousel-control {
		margin: 0 7px;
	    font-size: 12px;
	    cursor: pointer;

	    &[aria-disabled="true"] {
	    	.svg-icon path,
			.svg-icon polygon,
			.svg-icon rect {
			  	fill: $color-gray;
			}

			.svg-icon circle {
			  	stroke: $color-gray;
			  	stroke-width: 1;
			}

			cursor: auto;
	    }
	}
}

.main-carousel {
	display: flex;
	position: relative;
	margin: 45px 0 0 0;

	.project {
		width: 350px;
		height: 350px;
		position: relative;

		.project-img {
			width: 350px;
			height: 350px;

			img {
				width: 100%;
				height: 350px;
			}
		}
	}
}

.project {
	.project-content {
		position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
		width: 100%;
	    height: 100%;
	    visibility: hidden;
		opacity: 0;
		transition: opacity .5s, visibility .5s;

	    h3 {
		    display: block;
		    max-width: 300px;
		    margin: 0 auto;
		    color: $color-white;
		    text-transform: uppercase;
		    line-height: 38px;
		    font-size: 32px;
		    text-align: center;
		    top: 50%;
		    transform: translateY(-50%);
		    position: relative;
		    font-family: "Work Sans",Helvetica,Arial,sans-serif;

		    span {
		    	display: block;
		    	font-size: 12px;
		    	line-height: 24px;
		    	font-weight: normal;
		    	letter-spacing: 1.5px;
		    }
	    }
	}

	

	&[data-project="Fremont Brewing"] {
		.project-content {
			background: rgba(39,99,168,.9);
			//background: #2763A8;
		}
	}

	&[data-project="Take The Stage"] {
		.project-content {
			background: rgba(52,39,144,.9);
			//background: #342790;
		}
	}

	&[data-project="Norman Regional"] {
		.project-content {
			background: rgba(112, 42, 130, .9);
			//background: #702a82;
		}
	}

	&[data-project="US Trust"] {
		.project-content {
			//background: rgba(94,94,93,.9);
			background: rgba(196,17,44,.9);
			//background: #5E5E5D;
		}
	}

	&[data-project="Scrubs and Beyond"] {
		.project-content {
			background: rgba(0,76,143,.9);
			//background: #004C8F;
		}
	}

	&:hover .project-content {
		visibility: visible;
		opacity: 1;
	}

	.project-caption {
		text-align: center;
		text-transform: uppercase;
		font-size: 12px;
	}
}

.all-projects-btn {
	width: 350px;
    height: 350px;
    display: block;
    text-align: center;
    transition: all .5s;

	span {
		display: block;
		width: 200px;
		margin: 0 auto;
		color: $color-primary;
	    text-transform: uppercase;
	    line-height: 38px;
	    font-size: 32px;
	    text-align: center;
	    position: relative;
	    top: 50%;
	    transform: translateY(-50%);
	}

	.svg-icon path {
		fill: $color-primary;
	}

	&:hover {
		background: $color-primary;

		span {
			color: $color-white;
		}

		.svg-icon path {
			fill: $color-white;
		}
	}
}

.services-outer-wrap {
    margin-top: 45px;

    .services-outer-item {
    	text-align: left;
	    letter-spacing: 1.5px;
	    text-transform: uppercase;
	    font-size: 12px;

	    .services-inner-header {
	    	display: block;
	    	font-weight: bold;
	    	margin-bottom: 10px;
	    	text-align: center;
	    }

	    .services-inner-wrap {
	    	text-align: center;

	    	.services-inner-item {
	    		width: 100%;
	    		text-transform: none;
				line-height: 32px;
	    	}
	    }
    }
}

.clients-wrap {
    .client-item {
		vertical-align: middle;
		margin: 45px 0;
		text-align: center;

    	.client-image {
    		max-width: 150px;
			-webkit-filter: grayscale(100%);
		    filter: grayscale(100%);
    	}
    }
}

.process-content {
	min-height: calc(100vh - 211px);
}

.section-title {
	letter-spacing: 3px;
    padding-top: 20px;
    text-transform: uppercase;
    margin: 10px 0 5px 0;
}

.section-desc {
	font-size: 16px;
    line-height: 1.7;
    margin-bottom: 20px;
}

.section-image {
	width: 100%;
}

.ca-icon-wrap {
	display: block;
	text-align: center;

	span {
		display: block;
	    font-weight: 700;
	    margin-bottom: 10px;
	    text-align: center;
	    text-transform: uppercase;
	    font-size: 12px;
	}
}

// footer
footer {
	text-align: center;
    padding: 80px 0;
    background: set-color($color-dark);
    color: $color-white;
    z-index: 1;
    bottom: 0;
    width: 100vw;
    overflow: hidden;

    span {
    	font-family: "Beautiful Bloom",cursive;
	    font-size: 60px;
	    color: $color-white;
	    margin-bottom: 50px;
	    display: block;
	    line-height: 72px;
    }

    a {
    	color: $color-white;
    }

	p, .social-links {
		font-size: $font-size-sm;
	}
}

.social-links {
    display: flex;
    width: 30%;
    margin: 0 auto;
    justify-content: space-evenly;
    margin-top: 20px;
}

// SVG Icons - svgicons.sparkk.fr
.svg-icon {
  	width: 20px;
  	height: 20px;

  	& path, & polygon, & rect {
  		fill: $color-dark;
  	}

  	& circle {
  		stroke: $color-dark;
  		stroke-width: 1;
  	}

  	&.with-circle-bg {
  		display: block;
  		width: 60px;
	    height: 60px;
	    margin: 0 auto 20px auto;
	    background: $color-primary;
	    color: $color-white;
	    border-radius: 50%;
	    padding: 10px;
	    text-align: center;

	    & path {
	    	fill: $color-white;
	    }
  	}

  	&.large-icon {
  		width: 80px;
  		height: 80px;
  		padding-top: 20px;
  	}

  	&.no-bg {
  		width: 80px;
  		height: 80px;

  		& path, & polygon, & rect {
  			fill: $color-primary;
  		}

  		& circle {
  			stroke: $color-primary;
  			stroke-width: 1;
  		}
  	}
}

// projects page
.projects-wrap {
	display: flex;
	flex-wrap: wrap;

	.project {
		width: calc(33% - 10px);
    	margin: 5px;
    	position: relative;

    	img {
    		width: 100%;
    	}

    	.project-content {
    		height: calc(100% - 5px);
    	}
	}
}

.extra-wrap {
	width: calc(33% - 10px);
    margin: 5px;

    .extra-content {
    	display: block;
	    margin: 0 auto;
	    line-height: 38px;
	    text-align: center;
	    top: 50%;
	    transform: translateY(-50%);
	    position: relative;

	    h4 {
	    	text-transform: uppercase;
	    }

	    a {
	    	font-size: 12px;
	    }
    }
}

// project page
.project-content {
	h3 {
		text-align: center;
	}

	h4 {
		text-transform: uppercase;
		font-size: 11px;
	}

	img {
		width: 100%;
	}

	.project-background {
		padding: 70px;
		background: $color-light;
		margin: 30px 0;
		text-align: center;

		h3 {
			margin-bottom: 30px;
		}
	}
}



.content-item {
	margin: 0 0 20px 0;
}

.other-projects-header {
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
}

.project-nav-wrap {
	
	top: 50vh;
    left: 0;
    height: 100%;
    z-index: 100;
    position: fixed;

	.project-nav {

	    height: 32px;
		display: block;

		.project-nav-indicator {
			content: '';
		    width: 32px;
		    height: 2px;
		    display: inline-block;
		    background: #333;
		    vertical-align: middle;
		    line-height: 32px;
		}

		.project-nav-text {
			display: inline-block;
			visibility: hidden;
    		margin-left: 10px;

    		span {
    			font-weight: normal;
			    text-transform: uppercase;
			    font-size: 10px;
			    line-height: 16px;
			    vertical-align: middle;
    		}
		}

		&:hover {
			.project-nav-text {
				visibility: visible;
			}

			.project-nav-indicator {
				width: 64px;
			}
		}

		&.active {
			.project-nav-indicator {
				width: 64px;
			}
		}
	}
}

/*
.project-nav-wrap {
	display: flex;
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -moz-justify-content: flex-start;
    -webkit-justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-align-items: center;
    position: fixed;
    top: 50vh;
    bottom: 0;
    left: 0px;
    z-index: 10;
    width: 0;


	.project-nav-inner {
		left: 100%;
		width: auto;
		display: flex;
		display: -webkit-box;
	    display: -ms-flexbox;
	    display: -webkit-flex;
	    -webkit-box-orient: vertical;
	    -ms-flex-direction: column;
	    -webkit-flex-direction: column;
	    flex-direction: column;
	    -webkit-box-align: center;
	    -ms-flex-align: center;
	    -webkit-align-items: center;
	    align-items: center;
	    -webkit-transform: translatez(0);
	    -moz-transform: translatez(0);
	    -ms-transform: translatez(0);
	    -o-transform: translatez(0);
	    transform: translatez(0);


		.project-nav {

			display: block;
		    position: relative;
		    padding: 25px 0;

			.project-nav-indicator {
				text-align: left;
				width: 64px;
			    font-size: 0;
			    line-height: 0;

			    &:before {
			    	content: '';
				    display: inline-block;
				    width: 40px;
				    height: 2px;
				    background-color: #636363;
				    -webkit-transition: background-color 170ms ease-out,width 170ms ease-out;
				    -moz-transition: background-color 170ms ease-out,width 170ms ease-out;
				    -ms-transition: background-color 170ms ease-out,width 170ms ease-out;
				    -o-transition: background-color 170ms ease-out,width 170ms ease-out;
				    transition: background-color 170ms ease-out,width 170ms ease-out;
			    }
			}

			.project-nav-text {
				left: 100vw;
			    margin-left: 13px;
			    text-align: left;
			    -webkit-transform: translatex(-20%);
			    -moz-transform: translatex(-20%);
			    -ms-transform: translatex(-20%);
			    -o-transform: translatex(-20%);
			    transform: translatex(-20%);
			    display: block;
			    position: absolute;
			    top: 50%;
			    height: 13px;
			    margin-top: -6.5px;
			    white-space: nowrap;
			    line-height: 13px;
			    -webkit-font-smoothing: subpixel-antialiased;
			    -moz-osx-font-smoothing: auto;
			    font-family: Arial,Helvetica,sans-serif;
			    font-weight: 400;
			    font-size: 12px;
			    letter-spacing: 0em;
			    font-family: freight-sans-pro;
			    font-weight: 300;
			    font-style: normal;
			    font-size: 13px;
			    letter-spacing: .3em;
			    text-transform: uppercase;
			    color: #000;
			    opacity: 0;
			    -webkit-transition: opacity 170ms ease-out,transform 170ms ease-out,right 0s 170ms;
			    -moz-transition: opacity 170ms ease-out,transform 170ms ease-out,right 0s 170ms;
			    -ms-transition: opacity 170ms ease-out,transform 170ms ease-out,right 0s 170ms;
			    -o-transition: opacity 170ms ease-out,transform 170ms ease-out,right 0s 170ms;
			    transition: opacity 170ms ease-out,transform 170ms ease-out,right 0s 170ms;

			    span {
			    	display: inline-block;
				    vertical-align: baseline;
				    max-width: 130px;
				    white-space: nowrap;
				    overflow: hidden;
				    text-overflow: ellipsis;
				    line-height: 100%;
			    }
			}

			&.active {
				.project-nav-indicator {
					&:before {
						width: 64px;
    					background-color: #93acb5;
					}
				}
			}
		}
	}
}
*/

.projects-controls {
	display: flex;
    justify-content: space-between;
    align-items: flex-end;

	.project-control {
		cursor: pointer;
    	width: 50%;

		.thumb-wrap {
			display: flex;
    		font-weight: normal;

    		svg {
    			margin: 0 20px;
    		}

			.thumb-text {
			    text-transform: lowercase;
			    font-size: 12px;
			}
		}

		&.disabled {
			cursor: default;

			svg path {
				fill: $color-gray;
			}
		}
	}

	.previous {
		.thumb-wrap {
			justify-content: flex-start;
		}
	}

	.next {
		.thumb-wrap {
			justify-content: flex-end;
		}
	}
}

.image-path {
	border: 1px solid $color-light;
    padding: 10px;
    margin: 20px 0;
}

.image-border {
	border: 1px solid $color-light;
}

.image-caption {
	font-size: 10px;
    text-align: center;
    text-transform: uppercase;
}

// filters
.filters-wrap {
    display: flex;
    justify-content: flex-end;

    .filter-text {
    	line-height: 30px;
	    margin-right: 10px;
	    font-size: 12px;
	    font-family: Karla;
	    text-transform: uppercase;
	    font-weight: 700;
    }
}

.pill {
    margin: 0 5px;
    padding: 0 15px;
    background: set-color($color-white);
    border-radius: 20px;
    text-transform: uppercase;
    font-size: 10px;
    cursor: pointer;
    max-height: 30px;
    line-height: 30px;

    &.selected {
    	background: set-color($color-primary);
    	color: $color-white;
    	font-weight: bold;
    }
}

// contact page
.contact-content {
	min-height: calc(100vh - 121px);
}

// headshot
.headshot-wrap {
	margin: 0 auto;

	.headshot {
		width: 100%;
		
		&.circle {
			border-radius: 50%;
		}

		&.square {
			border-radius: 10px;
		}
	}
}

.facts-list {
	line-height: 22px;

	li {
		margin: 7px 0;
	}
}

// carousel
.tns-nav {
	display: none;
}

.tns-outer {
	margin-top: 120px;
}

// tablet
@media (min-width: $screen-sm-min) {
	.is-mobile {
        display: none;
    }

    .is-tablet {
    	display: block;
    }

    .services-outer-wrap {
		.services-outer-item {
			margin-bottom: 50px;
		}
	}
}

// mobile
@media (max-width: $screen-xs-max) {
	.is-desktop {
        display: none;
    }

    .pt-xs-20 {
    	padding-top: 20px !important;
    }

    .pt-xs-30 {
    	padding-top: 30px !important;
    }

    .homepage {
    	.small-header {
    		display: block !important;
    	}
    }

    nav {
    	.nav-wrap {
    		.nav-item {
    			margin: 0 13px;
    		}
    	}
    }

    .nav-buttons {
    	background: $color-primary;
        width: 100vw;
	    position: absolute;
	    left: 0;
	    z-index: 100;
	    top: -1px;
	    -webkit-box-shadow: 0 10px 25px 0 rgba(0,0,0,.05);
	    -moz-box-shadow: 0 10px 25px 0 rgba(0,0,0,.05);
	    box-shadow: 0 10px 25px 0 rgba(0,0,0,.05);

	    .nav-wrap {
	    	justify-content: space-around;
	    }
    }

    .tagline-content {
    	padding: 130px 0 60px 0;

    	.tagline-text {
    		width: 80%;
    	}
    }

    .content-row {
    	padding-top: 60px;
    }

    .content-wrap {
    	display: block;
    	width: 100vw;
    	overflow: hidden;
    }

    .tns-outer {
	    margin-top: 40px;
	}

    .main-carousel {
    	margin: 0px;
    }
    
	.services-outer-wrap {
		.services-outer-item {
			margin-bottom: 50px;
		}
	}

    .project-content {
    	padding-top: 70px;

    	.project-background {
    		padding: 20px;
    	}
    }

    .projects-content {
    	padding-top: 70px;
    }

    .projects-wrap {
    	.project {
    		width: 100vw;
    	}
    }

    .extra-wrap {
    	width: 100vw;
    }

    .filters-wrap {
    	justify-content: center;
    	margin-top: 30px;
    }

    .process-content {
    	padding-top: 70px;
		min-height: calc(100vh - 93px);
	}

    .contact-content {
    	height: 100%;
    	padding-top: 70px;
    }

    .headshot-wrap {
    	margin-top: 30px;
    }

    .fremont {
    	.sitemap-wrap {
    		text-align: center;
    	}
    }

    .social-links {
    	width: 100%;
    }
}